%p
  %strong Name:
  = @cms_attachment.name

- if @cms_attachment.description?
  %p
    %strong Description:
    = @cms_attachment.description

%p
  %strong Filename:
  = @cms_attachment.file_filename

%p
  %strong Size:
  = number_to_human_size @cms_attachment.file_size
%p
  %strong Type:
  %abbr{ title: @cms_attachment.file_content_type }
    = MIME::Types[@cms_attachment.file_content_type].first.try(:friendly) || 'Unknown'

%p
  %strong File:
  = link_to 'Permalink', attachment_url(@cms_attachment, :file)
  %br/
  - if @cms_attachment.image?
    = link_to attachment_url(@cms_attachment, :file), class: 'pull-left thumbnail' do
      = attachment_image_tag(@cms_attachment, :file, :limit, 400, 400)

- content_for :sidebar_menu do
  .panel.panel-default
    .list-group
      = link_to attachment_url(@cms_attachment, :file), class: 'list-group-item' do
        %i.fa.fa-fw.fa-link
        Permalink
      = link_to [:edit, @cms_attachment], class: 'list-group-item list-group-item-info' do
        %i.fa.fa-fw.fa-edit
        Edit attachment
      = link_to new_cms_attachment_path, class: 'list-group-item list-group-item-success' do
        %i.fa.fa-plus.fa-fw
        New attachment
      = link_to @cms_attachment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list-group-item list-group-item-danger' do
        %i.fa.fa-fw.fa-trash
        Delete attachment
      = link_to cms_attachments_path, class: 'list-group-item' do
        %i.fa.fa-fw.fa-arrow-left
        Back to attachment list
