%p
  %strong Name:
  = @cms_attachment.name

- if @cms_attachment.description?
  %p
    %strong Description:
    = @cms_attachment.description

%p
  %strong File filename:
  = @cms_attachment.file_filename

%p
  %strong File size:
  = number_to_human_size @cms_attachment.file_size

%p
  %strong File:
  = link_to 'Permalink', attachment_url(@cms_attachment, :file)
  %br/
  - if @cms_attachment.image?
    = link_to attachment_url(@cms_attachment, :file), class: 'pull-left thumbnail' do
      = attachment_image_tag(@cms_attachment, :file, :limit, 400, 400)

- content_for :sidebar_menu do
  = link_to 'Edit attachment', edit_cms_attachment_path(@cms_attachment), class: 'list-group-item list-group-item-info'
  = link_to 'Delete attachment', @cms_attachment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list-group-item list-group-item-danger'
  = link_to 'Back to attachment list', cms_attachments_path, class: 'list-group-item'
