= nested_form_for [:manager, @csw_import], html: { class: 'form' } do |f|
  - unless @csw_import.errors.full_messages.empty?
    .alert.alert-error
      %h4 Errors prevents this record from being saved
      %ul
        - @csw_import.errors.full_messages.each do |err|
          %li= err
        
  .row-fluid
    .span12
      = f.label :title
      = f.text_field :title, class: 'span12'

  .row-fluid
    .span12
      = f.label :url
      = f.text_field :url, class: 'span12'  
        
  .row-fluid
    .span12
      =f.label :sync_frequency
      .input-append
        =f.number_field :sync_frequency, class: 'span12'
        %span.add-on
          Hours
  .row-fluid
    .span12
      =f.label :metadata_type
      =f.select :metadata_type, options_for_select(CswImport::METADATA_TYPES)
  .row-fluid
    .span12
      =f.label :metadata_field
      =f.text_field :metadata_field, class: 'span12'
      
  .row-fluid
    .span12
      = f.label :use_agreement_id, class: 'control-label'
      = f.select :use_agreement_id, options_from_collection_for_select(UseAgreement.all, :id, :title, @csw_import.use_agreement_id), { include_blank: true }, { class: 'span12' }
      = f.label :request_contact_info, class: 'control-label' do
        = f.check_box :request_contact_info
        Ask for contact info
      = f.label :require_contact_info, class: 'control-label' do
        = f.check_box :require_contact_info
        Contact info required
  = render "collection_fields", f: f

  #actions.form-actions
    = link_to [:manager, @csw_import], class: 'btn btn-inverse' do
      %i.icon-arrow-left.icon-white
      Back

    = f.submit class: 'btn btn-primary pull-right'
