%h4= "Log for #{@log.created_at}"
Number of records created/updated: 
= @log.log[:new_catalogs].count

/ The import had the following errors:
/ - @log.log[:errors].each do |record, errors| 
/   .row-fluid
/     .span12
/       =link_to "The record", record
/   .row-fluid
/     %dl
/       - errors.each do |error, value|
/         = humanize_import_error(error,value)


%table.table.table-striped.table-bordered
  - @log.log[:errors].each do |record, errors|
    %thead
      %tr
        %th{colspan:2}= link_to record, record
    %thead
      %tr
        %th Field
        %th Value
    %tbody
      - errors.each do |field, values|
        %tr
          %td= field
          %td= values