/ %h4= "Log for #{@log.created_at}"
/ 
- if @import_counts
  %div.content
    %b Number of records created/updated: 
    = @import_counts.log[:counts][:success]
  %div.content
    %b Number of records with errors: 
    = @import_counts.log[:counts][:error]

.tabbable
  %ul.nav.nav-tabs
    %li.active{ style: 'margin-left: 10px;' }= link_to 'Import Errors', '#import-errors', data: { toggle: 'tab' }
    %li= link_to 'Agency Errors', '#agency-errors', data: { toggle: 'tab' }
    %li= link_to 'Import messages', '#import-messages', data: { toggle: 'tab' }
  
  .tab-content
    #import-errors.tab-pane.active
      - @logs.import_errors.each do |log|
        .row-fluid{ style: 'margin-top: 5px;' }
          .span3.content
            %b= log.activity.underscore.humanize.upcase
            %br/
            = log.created_at
          .span9.content
            %b Catalog record:
            = link_to log.loggable, log.loggable
        .row-fluid{ style: 'border-bottom: 1px solid #efefef; padding-bottom: 5px;' }
          .span12.content
            %b Source:
            = link_to log.loggable.source_url, log.loggable.source_url
            %br/
            %b Message:
            = log.log[:message].html_safe if log.log[:message].present?
            
    #agency-errors.tab-pane
      - @logs.agency_import_errors.each do |log|
        .row-fluid{ style: 'margin-top: 5px;' }
          .span3.content
            %b= log.activity.underscore.humanize.upcase
            %br/
            = log.created_at
          .span9.content
            %b Catalog record:
            = link_to log.loggable, log.loggable
        .row-fluid{ style: 'border-bottom: 1px solid #efefef; padding-bottom: 5px;' }
          .span12.content
            %b Source:
            = link_to log.loggable.source_url, log.loggable.source_url
            %br/
            %b Message:
            = log.log[:message].html_safe if log.log[:message].present?
            
    #import-messages.tab-pane
      - @logs.import_log.each do |log|
        .row-fluid{ style: 'margin-top: 5px;' }
          .span3.content
            %b= log.activity.underscore.humanize.upcase
            %br/
            = log.created_at
          .span9.content
            %b Catalog record:
            = link_to log.loggable, log.loggable
        .row-fluid{ style: 'border-bottom: 1px solid #efefef; padding-bottom: 5px;' }
          .span12.content
            %b Source:
            = link_to log.loggable.source_url, log.loggable.source_url
            %br/
            %b Message:
            = log.log[:message].html_safe if log.log[:message].present?         