<section id="services_new" class="services">
    <h1>First Time Login</h1>

    <div>
        <h3>This is the first time your account has logged into the Northslope Science Catalog.</h3>

        <p class="small">
            Please make sure the following information is correct.
            <br />
            If this is not the correct user <%= link_to "please click this link to logout from the GINA::ID system", 'http://id.gina.alaska.edu/logout' -%> and try again.
        </p>
        
        <p class="small">
            Provider: <%= @authhash[:provider] %><br />
            ID: <%= @authhash[:uid] %><br />
            Name: <%= @authhash[:name] %><br />
            Email: <%= @authhash[:email] %> <br />
        </p>

        <%= form_tag :controller => "services", :action => "newaccount" do %>
            <%= submit_tag "Confirm and continue" %> <%= submit_tag "Cancel" %>
        <% end %>
    </div>
</section>