.content
  .row-fluid
    .span12
      = "Total Downloads = #{@total_downloads.count}"
  .row-fluid
    .span6
      %table.table.table-bordered.table-striped.table-condensed
        %head
          %tr
            %td{colspan: 3} Latest accessed for the previous month:
          %tr
            %th Data Record
            %th Name
            %th Email
        - @latest_access.each do |item|
          %tr
            %td
              %span{title: "#{item.catalog.title}"}
                = item.catalog.title.truncate(150).humanize
            %td
              = item.name
            %td
              = item.email
    .span6
      %table.table.table-bordered.table-striped.table-condensed
        %head
          %tr
            %td{colspan: 2} Top Downloads
          %tr
            %th Data Record
            %th Count
        - @top_downloads.each do |item|
          %tr
            %td
              %span{title: "#{item.catalog.title}"}
                = item.catalog.title.truncate(150).humanize
            %td
              = item.download_count
