.content
  = form_tag manager_path, method: 'GET', class: 'form-inline', style: "margin-bottom: 0;" do
    .row-fluid
      .span2
        .control-group
          %label.control-label Start
          .controls
            = text_field_tag "start_date", @start_date.strftime('%F'), placeholder: 'YYYY-MM-DD', data: {behavior: 'datepicker', date_format: 'yyyy-mm-dd'}, class: "span12"
      .span2
        .control-group
          %label.control-label End
          .controls
            = text_field_tag "end_date", @end_date.strftime('%F'), placeholder: 'YYYY-MM-DD', data: { behavior: 'datepicker', date_format: 'yyyy-mm-dd'}, class: "span12"
      .span6
        .control-group
          %label.control-label Agency
          .controls
            = collection_select_for_agencies("agency", params["agency"], false, class: "span12")
          :javascript
            $('#agency').select2({allowClear: true, width: 'copy'});
      .span2
        .control-group
          %label.control-label &nbsp;
          .controls
            = submit_tag 'Clear', class: 'btn'
            = submit_tag 'Search', class: 'btn btn-primary'
          
  .row-fluid
    .span8
      %table.table.table-bordered.table-striped.table-condensed
        %thead
          %tr
            %th{colspan: 2} Top downloads
          %tr
            %th Data Record
            %th= "Last #{((@end_date - @start_date) / 86400).to_i} days"
        %tbody
          - @top_downloads.each do |item|
            %tr
              %td
                = link_to manager_contact_info_path(item.catalog.id, start_date: @start_date, end_date: @end_date), title: "#{item.catalog.title}" do
                  = item.catalog.title.truncate(80)
              %td
                = item.download_count
    .span4
      %table.table.table-bordered.table-striped.table-condensed
        %thead
          %tr
            %th General Information
            %th Total
            %th= "Last #{((@end_date - @start_date) / 86400).to_i} days"
        %tbody
          %tr
            %td Total Downloads
            %td= @stats[:total_downloads][:alltime]
            %td= @stats[:total_downloads][:daterange]
          %tr
            %td Unique Downloads
            %td= @stats[:unique_downloads][:alltime]
            %td= @stats[:unique_downloads][:daterange]
  .row-fluid
    .span12
      %table.table.table-bordered.table-striped.table-condensed
        %thead
          %tr
            %th{colspan: 5} 50 Latest records accessed:
          %tr
            %th Date
            %th Data Record
            %th Download Portal
            %th Name
            %th Email
        %tbody
          - @latest_access.each do |item|
            %tr
              %td.span3
                = item.created_at.strftime('%F %T %z')
              %td
                = link_to manager_contact_info_path(item.catalog_id, start_date: @start_date, end_date: @end_date), title: "#{item.catalog.title}" do
                  = item.catalog.title.truncate(60)
              %td
                = item.setup.try(:acronym)
              %td.span2
                = item.name
              %td.span2
                = item.email

:javascript
  $(document).ready( function(){
    $('[data-behavior~=datepicker]').datepicker().on('changeDate', function(ev){
      $(this).datepicker('hide'); 
    })
  })
