%table.table.table-striped.table-condensed
  %thead
    %tr
      %th{colspan: 4} Broken Links
    %tr
      %th{colspan: 2}
        =form_tag '', method: "get", class: "form-inline", style: "margin-bottom: 0px;" do
          = collection_select :agency, :id, @agencies, :id, :name_with_acronym, { include_blank: true,prompt: "Choose Agency" }, { class: "span5" }
          = submit_tag "Search", html: { class: "btn btn-default" }
      %th{colspan: 2}
        .btn-group.pull-right
          = link_to_first_page @bad_links, class: 'btn' do
            %i.icon-double-angle-left
          = link_to_prev_page @bad_links, class: 'btn' do
            %i.icon-angle-left
          %button.btn
            %span= display_result_info(@bad_links, @page, 30, @total)
          = link_to_next_page @bad_links, params: {limit: 30}, class: 'btn' do
            %i.icon-angle-right
          = link_to_last_page @bad_links, class: 'btn' do
            %i.icon-double-angle-right   
    %tr
      %th.span2 Agency
      %th.span4 Link
      %th.span4 Record
      %th.span2 Last Checked
  %tbody
    - @bad_links.each do |item|
      %tr
        %td
          = item.asset.source_agency
        %td
          = link_to breaking_word_wrap(item.url, 50), item.url
        %td
          = link_to item.asset, item.asset
        %td
          = item.last_checked_at.try(:strftime,'%F')
    %tr
      %td{colspan: 4}
        .btn-group.pull-right
          = link_to_first_page @bad_links, class: 'btn' do
            %i.icon-double-angle-left
          = link_to_prev_page @bad_links, class: 'btn' do
            %i.icon-angle-left
          %button.btn
            %span= display_result_info(@bad_links, @page, 30, @total)
          = link_to_next_page @bad_links, params: {limit: 30}, class: 'btn' do
            %i.icon-angle-right
          = link_to_last_page @bad_links, class: 'btn' do
            %i.icon-double-angle-right   
