- collapse ||= false
%dl.catalog
  %h4.title= catalog.title
  - if !catalog.published?
    .alert.alert-warning
      %h4 This data record is pending review by the system moderators
      After a moderator has reviewed the project, it will become available for public viewing
  - if catalog.published? or (current_user and current_user.is_an_admin?)
    = render 'catalogs/status', item: catalog

    %dt Description
    %dd
      :markdown
        #{catalog.description}
        
    = render 'catalogs/collapsed_content', item: catalog, collapse: collapse
.pullright
  #map{ data: {                                       |
    openlayers: 'map_canvas',                         |
    projection: 'EPSG:3572',                          |
    displayProjection: 'EPSG:4326',                   |
    layers: ['TILE.EPSG:3572.BDL', 'TILE.EPSG:3572.OSM_OVERLAY'] |
    }, |
    style: 'border: 1px solid #cfcfcf;' }
    .navbar.navbar-static-top
      .navbar-inner
        .btn-group
          = link_to '#', data: { action: 'zoomToMaxExtent' }, class: 'btn' do
            %i.icon-globe
        .btn-group
          = link_to '#', data: { action: 'placeMarker' }, class: 'btn' do
            %i.icon-map-marker
          = link_to '#', data: { action: 'drawPolygon' }, class: 'btn' do
              %i.icon-pencil
  #map_canvas{ style: 'width:100%; height:300px;' }             
:javascript
  $(document).ready(function() {
    var map = $('#map').data('map').map;
    map.addControl(new OpenLayers.Control.MousePosition({ displayProjection: 'EPSG:4326', numDigits: 3 }));
    if (search_result_features.length > 0) {
      var layer = new OpenLayers.Layer.Vector('Search Results');   
      layer.addFeatures(search_result_features);
      map.addLayer(layer);
      map.zoomToExtent(layer.getDataExtent());
  
      var select = new OpenLayers.Control.SelectFeature(layer, {
        autoActivate: true,
        onSelect: function(feature) {
          var el = $('#' + feature.attributes.record_id);
          var parent = $('body');
        
          var cur_scroll = parent.scrollTop();
          parent.animate({
            scrollTop: el.offset().top
          })
          el.effect("highlight", {}, 1500);
        }
      });
      map.addControl(select);
    }
  });
