- collapse ||= false
- if catalog.published? or (current_user and current_member.can_manage_catalog?)
  %tr
    %td.result{id: dom_id(catalog, :record)}
      %h5.title
        = link_to "##{dom_id(catalog, :description)}", data: { toggle: "collapse" } do
          %i.icon-caret-down.collapse-icon
          = catalog.title.try(:truncate,80)
        - if !catalog.published?
          %i.icon-warning-sign{ title: 'Catalog record is not public' }
          
      .collapse{id: dom_id(catalog, :description)}
        - if !catalog.published?
          .alert.alert-warning
            This record has not been published
        .description
          :markdown
            #{catalog.description.try(:html_safe)}
          /.try(:truncate, 200)}
        .status
          = render 'status', item: catalog
        .btn-group.pull-right
          = link_to catalog, class: 'btn btn-primary' do
            %i.icon-eye-open
            View