- cache([:search_result, :v4, catalog]) do
  .result{id: dom_id(catalog, :record), data: { wkt: catalog.geometry_center_collection, type: catalog.type } }
    .row-fluid
      .span10
        %h5.title
          = link_to "##{dom_id(catalog, :description)}", data: { toggle: "collapse" } do
            %i.icon-chevron-down.collapse-icon
            = catalog.title.try(:truncate,78)
          - if !catalog.published?
            %i.icon-warning-sign{ title: 'Catalog record is not public' }
          - unless catalog.geometry_collection.blank?
            %i.icon-globe{ title: 'Catalog record has location information' }
      .span2
        .legend-tag.alert{ class: catalog.type == 'Project' ? 'alert-warning' : 'alert-info' }
          %b= catalog.type == 'Project' ? 'Project' : 'Data'
    .description
      - unless catalog.source_agency.nil?
        %b= catalog.source_agency.try(:name_with_acronym)
      :markdown
        #{catalog.description.try(:truncate, 300).try(:html_safe)}
      /.try(:truncate, 200)}

    .collapse{id: dom_id(catalog, :description)}
      - if !catalog.published?
        .alert.alert-warning
          This record has not been published
      .status
        = render 'status', item: catalog
  
        - unless catalog.collections.list.blank?
          %b Collections: 
          = catalog.collections.list
          
.pull-right{ style: 'margin: 0 5px 5px 0;'}
  - if user_signed_in?
    - available_portals = member_portals# - catalog.setups - current_setup.ancestors
    - if catalog.published? and available_portals.count > 0
      .btn-group
        = link_to '#', class: 'btn dropdown-toggle', data: { toggle: 'dropdown' } do
          Add to portal...
          %b.caret
        %ul.dropdown-menu
          - available_portals.each do |p|
            - next unless current_user.memberships.where(setup_id: p.id).first.can_manage_catalog?
            %li
              = link_to share_manager_catalog_path(catalog, setup_id: p), method: 'PUT', remote: true do
                - if catalog.available_in?(p)
                  %i.icon-check
                - else
                  %i.icon-check-empty
                = p.full_title

            
    - if current_member.can_manage_catalog? and catalog.owner_setup == current_setup
      .btn-group
        = link_to edit_manager_catalog_path(catalog), class: 'btn', target: :_blank do
          %i.icon-edit
          Edit

  - if catalog.downloadable?
    .btn-group
      = link_to download_catalog_path(catalog), class: 'btn' do
        %i.icon-cloud-download
        Download
  .btn-group
    = link_to catalog, class: 'btn btn-primary' do
      Full Record
      %i.icon-arrow-right