- collapse ||= false
- if catalog.published? or (current_user and current_member.can_manage_catalog?)
  %tr
    %td{id: dom_id(catalog, :record)}
      %h5.title
        - if !catalog.published?
          %i.icon-warning{ title: 'Catalog record is not public' }
        = link_to catalog.title.try(:truncate,80), "##{dom_id(catalog, :description)}", data: { toggle: "collapse" }
      .collapse{id: dom_id(catalog, :description)}
        .description
          :markdown
            #{catalog.description.try(:html_safe)}
          /.try(:truncate, 200)}
        .status
          = render 'status', item: catalog
        .btn-group.pull-right
          = link_to catalog, class: 'btn btn-primary' do
            %i.icon-eye-open
            View