- collapse ||= false
- if catalog.published? or (current_user and current_member.can_manage_catalog?)
  %tr
    %td.result{id: dom_id(catalog, :record), data: { wkt: catalog.geometry_center_collection } }
      %h5.title
        = link_to "##{dom_id(catalog, :description)}", data: { toggle: "collapse" } do
          %i.icon-chevron-down.collapse-icon
          = catalog.title.try(:truncate,80)
        - if !catalog.published?
          %i.icon-warning-sign{ title: 'Catalog record is not public' }
      .description
        :markdown
          #{catalog.description.try(:truncate, 300).try(:html_safe)}
        /.try(:truncate, 200)}
      
      .collapse{id: dom_id(catalog, :description)}
        - if !catalog.published?
          .alert.alert-warning
            This record has not been published
        .status
          = render 'status', item: catalog
      .btn-group.pull-right
        - if catalog.downloadable?
          = link_to catalog_download_path(catalog), class: 'btn' do
            %i.icon-cloud-download
            Download
          
        = link_to catalog, class: 'btn btn-primary' do
          Full Record
          %i.icon-arrow-right