#search_buttons
  .row-fluid
    .span6
      .btn-group.btn-block
        = link_to '#', class: "btn", id: 'limit-btn', data: { toggle: "dropdown" }, style: 'width: 90px' do
          = "Limit: #{@limit}"
        = link_to '#', class: "btn dropdown-toggle", data: { toggle: "dropdown" } do
          %i.caret
    
        %ul.dropdown-menu
          %li
            =link_to '#', data: { behavior: 'stash', target: '#limit', value: 30, title: 'Limit: 30', title_target: '#limit-btn' } do
              30 Records
          %li
            =link_to '#', data: { behavior: 'stash', target: '#limit', value: 100, title: 'Limit: 100', title_target: '#limit-btn' } do
              100 Records
          %li
            =link_to '#', data: { behavior: 'stash', target: '#limit', value: 500, title: 'Limit: 500', title_target: '#limit-btn' } do
              500 Records
          %li
            =link_to '#', data: { behavior: 'stash', target: '#limit', value: 1000, title: 'Limit: 1000', title_target: '#limit-btn' } do
              1000 Records
          %li
            =link_to '#', data: { behavior: 'stash', target: '#limit', value: 2000, title: 'Limit: 2000', title_target: '#limit-btn' } do
              2000 Records
          %li
            =link_to '#', data: { behavior: 'stash', target: '#limit', value: 5000, title: 'Limit: 5000', title_target: '#limit-btn' } do
              5000 Records
    .span6
      = link_to '/search', class: 'btn btn-block' do
        Clear
  .row-fluid{style: "margin-top: 5px;"}
    .span6
      .btn-group.btn-block
        = link_to '#', class: "btn", data: { toggle: "dropdown" }, style: 'width: 90px' do
          = "Export as..."
        = link_to '#', class: "btn dropdown-toggle", data: { toggle: "dropdown" } do
          %i.caret
          
        %ul.dropdown-menu
          %li 
            = link_to '#', data: { behavior: 'submit-form', format: 'csv', track: false } do
              CSV
          /%li 
          /  = link_to '#', data: { behavior: 'submit-form', format: 'pdf', track: false } do
          /    PDF
    .span6
      %button.btn.btn-primary.btn-block{ type: 'submit'}
        Search
