:javascript 
  var search_result_features = [];
  var wktReader = new OpenLayers.Format.WKT();
.content
  .row-fluid{style:'position:relative;'}
    .span4.sidebar
      = render 'advanced_search', search_params: @search_params
    
      #map{ data: {                                       |
        openlayers: 'map_canvas',                         |
        projection: 'EPSG:3572',                          |
        displayProjection: 'EPSG:4326',                   |
        layers: ['TILE.EPSG:3572.BDL', 'TILE.EPSG:3572.OSM_OVERLAY'] |
        }, |
        style: 'border: 1px solid #cfcfcf;' }
        .navbar.navbar-static-top
          .navbar-inner
            .btn-group
              = link_to '#', data: { action: 'zoomToMaxExtent' }, class: 'btn' do
                %i.icon-globe
            .btn-group
              = link_to '#', data: { action: 'placeMarker' }, class: 'btn' do
                %i.icon-map-marker
              = link_to '#', data: { action: 'drawPolygon' }, class: 'btn' do
                %i.icon-pencil
          
        #map_canvas{ style: 'width:100%; height:300px;' }             
    .span8
      .search{ style: 'position: absolute; top:0px; bottom: 0px; overflow: auto;' }
        - if @results.empty?
          %p.lead No search results
        - @results.each do |result|
          .row-fluid
            .result.span12{ id: dom_id(result, :record) }
              .content{"data-toggle"=>"collapse", "data-target"=>"##{result.class}-#{result.id}.collapse", class: (@results.count > 1 ? 'pointer' : '')}
                = render result, collapse: (@results.count > 1)
                - result.locations.each do |loc|
                  - next if loc.wkt.nil? or loc.wkt.blank?
                  :javascript
                    var f = wktReader.read("#{loc.center.try(:as_text)}");
                    f.geometry.transform('EPSG:4326', 'EPSG:3572');
                    f.attributes = { record_id: '#{dom_id(result, :record)}' }
                    search_result_features.push(f);
      
              .buttons
                = link_to 'View', catalog_path(result), class: 'btn btn-primary'
  .row-fluid
    .span8.offset4{style: 'text-align:center'}
      = paginate @results, window: 2
  :javascript
    $(document).ready(function() {
      var map = $('#map').data('map').map;
      map.addControl(new OpenLayers.Control.MousePosition({ displayProjection: 'EPSG:4326', numDigits: 3 }));
      if (search_result_features.length > 0) {
        var layer = new OpenLayers.Layer.Vector('Search Results');   
        layer.addFeatures(search_result_features);
        map.addLayer(layer);
        map.zoomToExtent(layer.getDataExtent());
    
        var select = new OpenLayers.Control.SelectFeature(layer, {
          autoActivate: true,
          onSelect: function(feature) {
            var el = $('#' + feature.attributes.record_id);
            var parent = el.parent();
          
            var cur_scroll = parent.scrollTop();
            parent.animate({
              scrollTop: cur_scroll + el.offset().top - 110
            })
            el.effect("highlight", {}, 1500);
          }
        });
        map.addControl(select);
      }
    });