.search{ data: { spy: 'affix', 'offset-top' => 110 } }
  = render 'map'
  .result-list{ data: { 'scroll-offset-target'=> '#map' } }
    .row-fluid
      .span4
        .search-form.clearfix
          = form_tag search_url, method: 'GET' do        
            = render 'collection_search', search_params: @search_params, results: @results
            %br/
            = render 'basic_search', search_params: @search_params, results: @results
            = render 'search_buttons',  search_params: @search_params, results: @results
            %br/
            = render 'advanced_search', search_params: @search_params, results: @results
            %div
              %label 
                Legend:
                %i.icon-warning-sign &nbsp;Not Published
                %i.icon-globe &nbsp;Has Location
              
      .span8
        / data-spy="affix" data-offset-top="200"
        /data: { spy: 'affix', 'offset-top' => 120 }, 
        %table.table.table-striped.table-condensed.results
          %tbody
            - if @results.empty?
              %tr
                %td
                  %p.lead No search results
            - @results.each do |result|
              - if result.published? or (current_user and current_member.can_manage_catalog?)
                %tr
                  %td{ id: dom_id(result, :result_row) }= render result
        %div{style: 'text-align:center'}
          = render 'pagetoolbar', results: @results, total: @total, page: @pagenum, limit: @limit, params: @search_params
:javascript
  $(document).on('openlayers:aoidraw', function(evt) {
    $('#search_aoi').val('');
  })
  $(document).on('openlayers:aoidrawn', function(evt) {
    console.log(evt.wkt);
    $('#search_aoi').val(evt.wkt);
  })