.content
  .row-fluid
    .span4.sidebar
      = form_tag search_url, method: 'GET', style: 'width:100%' do
        = render 'basic_search', search_params: @search_params, results: @results
        %br/
        = render 'map'
        %br/
        = render 'advanced_search', search_params: @search_params, results: @results
                
    .span8
      .search
        .row-fluid.header
          .span12{style: 'text-align:center'}
            = render 'pagetoolbar', results: @results, total: @total, page: @pagenum, limit: @limit, params: @search_params
        .row-fluid
          .span12{style: "text-align: center;"}
            %i.icon-warning-sign &nbsp;Not Published
            %i.icon-globe &nbsp;Has Location
        %table.table.table-striped.table-condensed.results
          %tbody
            - if @results.empty?
              %tr
                %td
                  %p.lead No search results
            - @results.each do |result|
              = render result
        .row-fluid
          .span12{style: 'text-align:center'}
            = render 'pagetoolbar', results: @results, total: @total, page: @pagenum, limit: @limit, params: @search_params
  