:javascript 
  var search_result_features = [];
  var wktReader = new OpenLayers.Format.WKT();
.content
  .row-fluid
    .span4.sidebar
      = render 'advanced_search', search_params: @search_params
      
      #map{ data: {                                       |
        openlayers: 'map_canvas',                         |
        projection: 'EPSG:3338',                          |
        displayProjection: 'EPSG:4326',                   |
        layers: ['TILE.EPSG:3338.BDL', 'TILE.EPSG:3338.OSM_OVERLAY'] |
        }, |
        style: 'border: 1px solid #cfcfcf;' }
        .navbar.navbar-static-top
          .navbar-inner
            .btn-group
              = link_to '#', data: { action: 'pan' }, class: 'btn' do
                %i.icon-move
              = link_to '#', data: { action: 'zoomToMaxExtent' }, class: 'btn' do
                %i.icon-globe
            .btn-group
              = link_to '#', data: { action: 'placeMarker' }, class: 'btn' do
                %i.icon-map-marker
              = link_to '#', data: { action: 'drawPolygon' }, class: 'btn' do
                %i.icon-pencil
            
        #map_canvas{ style: 'width:100%; height:300px;' }             
    .span8.search
      - if @results.empty?
        %p.lead No search results
      - @results.each do |result|
        .result
          .content{"data-toggle"=>"collapse", "data-target"=>"##{result.class}-#{result.id}.collapse", class: (@results.count > 1 ? 'pointer' : '')}
            = render result, collapse: (@results.count > 1)
            - result.locations.each do |loc|
              - next if loc.wkt.nil? or loc.wkt.blank?
              :javascript
                var f = wktReader.read("#{loc.wkt}");
                f.geometry.transform('EPSG:4326', 'EPSG:3338');
                console.log(f.geometry.toString())
                search_result_features.push(f);
            
          .buttons
            = link_to 'View', catalog_path(result), class: 'btn btn-primary'
:javascript
  $(document).ready(function() {
    var map = $('#map').data('map').map;
    map.addControl(new OpenLayers.Control.MousePosition({ displayProjection: 'EPSG:4326', numDigits: 3 }));
    var layer = new OpenLayers.Layer.Vector('Search Results');   
    // console.log(search_result_features); 
    layer.addFeatures(search_result_features);
    map.addLayer(layer);
    map.zoomToExtent(layer.getDataExtent());
  });