.content
  .row-fluid
    .span4.sidebar
      = render 'advanced_search', search_params: @search_params, results: @results
    
      #map{ data: {                                       |
        openlayers: 'map_canvas',                         |
        projection: 'EPSG:3572',                          |
        displayProjection: 'EPSG:4326',                   |
        layers: ['TILE.EPSG:3572.BDL', 'TILE.EPSG:3572.OSM_OVERLAY'] |
        }, |
        style: 'border: 1px solid #cfcfcf;' }
        .navbar.navbar-static-top
          .navbar-inner
            .btn-group
              = link_to '#', data: { action: 'zoomToMaxExtent' }, class: 'btn' do
                %i.icon-globe
            / .btn-group
            /   = link_to '#', data: { action: 'placeMarker' }, class: 'btn' do
            /     %i.icon-map-marker
            /   = link_to '#', data: { action: 'drawPolygon' }, class: 'btn' do
            /     %i.icon-pencil
          
        #map_canvas{ style: 'width:100%; height:300px;' }             
    .span8
      .search
        %h4 Search results
        %table.table.table-striped.table-condensed.results
          %tbody
            - if @results.empty?
              %tr
                %td
                  %p.lead No search results
            - @results.each do |result|
              = render result
      
  .row-fluid
    .span8.offset4{style: 'text-align:center'}
      = paginate @results, window: 2
  :javascript
    $(document).ready(function() {
      var features, map = $('#map').data('map').map;
      map.addControl(new OpenLayers.Control.MousePosition({ displayProjection: 'EPSG:4326', numDigits: 3 }));
      #{ build_result_layer('map', @results) }        
    });
    $('.collapse').on('show', function() {
      var icon = $(this).parents('.result').find('i.collapse-icon');
      icon.removeClass('icon-caret-down');
      icon.addClass('icon-caret-up');
    });
    $('.collapse').on('hide', function() {
      var icon = $(this).parents('.result').find('i.collapse-icon');
      icon.removeClass('icon-caret-up');
      icon.addClass('icon-caret-down');
    });