= form_for [:manager, @snippet] do |f|
  - if @snippet.errors.any?
    #error_explanation.alert.alert-error
      %h4
        = pluralize(@snippet.errors.count, "error")
        prohibited this snippet from being saved:
      %ul
        - @snippet.errors.full_messages.each do |msg|
          %li= msg
          
  .control-group
    = f.label :slug, class: 'control-label'
    .controls
      = f.text_field :slug, class: 'span12'      
          
  .control-group
    .controls
      / ACE Editor
      %div.ace{ data: { editor: 'ace' } }
        = render '/shared/ace/toolbar'
        = f.text_area :content, class: 'span12', style:"border: none;", rows: 10
      
  .form-actions
    = link_to manager_page_contents_path(tab: "page_snippets"), class: 'btn' do 
      %i.icon-arrow-left
      Back
    .pull-right
      = f.submit 'Save', class: 'btn btn-primary'
      = f.submit 'Save and Close', class: 'btn btn-primary'

= render '/shared/ace/image_chooser', page: @snippet
= render '/shared/ace/link_chooser', page: @snippet
= render '/shared/ace/javascript', page: @snippet
