.control-group
  = f.label :source_agency_id, class: 'control-label'
  .controls
    = f.select :source_agency_id, options_from_collection_for_select(Agency.all, :id, :name, asset.source_agency_id), {}, class: 'span8'
.control-group
  = f.label :funding_agency_id, class: 'control-label'
  .controls
    = f.select :funding_agency_id, options_from_collection_for_select(Agency.all, :id, :name, asset.funding_agency_id), {}, class: 'span8'    
.control-group
  = f.label :agencies, 'Other Agencies', class: 'control-label'
  .controls
    = f.select :agencies, options_from_collection_for_select(Agency.all, :id, :name, asset.agencies.map(&:id)), {}, multiple: true, class: 'span8'
:javascript
  $('#asset_source_agency_id').select2();
  $('#asset_funding_agency_id').select2();
  $('#asset_agencies').select2();
