%fieldset
  .control-group
    = f.label :use_agreement_id, class: 'control-label'
    .controls
      = f.select :use_agreement_id, options_from_collection_for_select(UseAgreement.all, :id, :title, asset.use_agreement_id), include_blank: true
  .control-group
    = f.label :request_contact_info, class: 'control-label'
    .controls
      = f.check_box :request_contact_info
  .control-group
    = f.label :require_contact_info, class: 'control-label'
    .controls
      = f.check_box :require_contact_info