%fieldset
  .control-group
    = f.label :tags, class: 'control-label'
    .controls
      = f.text_field :tags, value: asset.tags.map(&:text).join(','), class: 'span8'
  .control-group
    = f.label :geokeywords, class: 'control-label'
    .controls
      = f.select :geokeywords, options_from_collection_for_select(Geokeyword.all, :id, :name, asset.geokeywords.map(&:id)), {}, multiple: true, class: 'span8'
  .control-group
    = f.label :iso_topics, class: 'control-label'
    .controls
      = f.select :iso_topics, iso_topic_options(asset), {}, multiple: true, class: 'span8'
  .control-group
    = f.label :data_types, class: 'control-label'
    .controls
      = f.select :data_types, options_from_collection_for_select(DataType.all, :id, :name, asset.data_types.map(&:id)), { include_blank: true },  multiple: true, class: 'span8'
  .control-group
    = f.label :long_term_monitoring, class: 'control-label'
    .controls
      %label.radio
        = f.radio_button :long_term_monitoring, true
        Yes
      %label.radio
        = f.radio_button :long_term_monitoring, false
        No
      
:javascript
  $('#asset_tags').select2({ tags: #{Tag.order('text ASC').all.map(&:text).to_json} });
  $('#asset_geokeywords').select2();
  $('#asset_iso_topics').select2();  
  $('#asset_data_types').select2({ allowClear: true, placeholder: "Select one or more data types" });    