- catalog.uploads.downloadable.each do |upload|
  %p 
    = link_to catalog_downloads_path(catalog, offer: true), class: 'btn btn-primary btn-large btn-block' do
      = "Download #{File.basename(catalog.archive_file)}"
- if catalog.remote_download?
  - catalog.download_urls.each do |url|
    %p
      = link_to catalog_download_path(url.catalog, url), class: 'btn btn-primary btn-large btn-block', target: "_blank" do
        = "Download #{url.name}"
      