- if @catalog.use_agreement
  %div.use_agreement{ style: 'max-height: 495px; overflow: auto; margin-bottom: 10px;' }
    %h4 Usage Notice
    :markdown
      #{@catalog.use_agreement.content}
- elsif @catalog.request_contact_info
  .alert.alert-info
    %h4 
      To keep you update about changes to this dataset, please take a moment and submit your contact information below.  All submitted information will remain confidential and will not be shared.
    %br/
    %h4
      Otherwise click the "Start download now" button below to start your download.
      
- if @catalog.request_contact_info    
  = link_to edit_catalog_download_url(@catalog, current_download), class: 'btn btn-large btn-block' do
    = "#{@contact_info.valid? ? 'Update' : 'Submit'} contact info"
    - unless @catalog.require_contact_info?
      (Optional)
- else
  .alert.alert-info
    %h4 
      Your download will start soon, if your download does not automatically start, click the button below
    
  :javascript
    setTimeout(function() {
      document.location = "#{@download.url}";
    }, 1000)  


= link_to 'Start download now', current_download.url, class: 'btn btn-primary btn-large btn-block'
