%h3
  = link_to entry.title, edit_manager_entry_path(entry)
  - if entry.archived?
    %span{style: "color: red;"} (Archived)
    %h4
      Archive Message: #{entry.archive.message}
:markdown
  #{entry.description}
%p
  .detail-block
    %label Status:
    = entry.status
  - if entry.start_date
    .detail-block
      %label Starts:
      = entry.start_date
  - if entry.end_date
    .detail-block
      %label Ends:
      = entry.end_date

  = render 'resources', entry: entry
  = render 'tag_cloud', entry: entry

.bordered{ style: 'margin-top: 10px;' }
  %ul.nav.nav-tabs{ style: 'padding-left: 5px; padding-top: 5px; margin-bottom: 0;' }
    %li.active
      = link_to '#additional-information', data: { toggle: 'tab' } do
        %b Additional Information
    %li
      = link_to '#activity-logs', data: { toggle: 'tab' } do
        %b Activity Logs
    /- if can? :manage, entry
    /  %li
    /    = link_to '#download-logs', data: { toggle: 'tab' } do
    /      %b Download Logs

  .tab-content
    #additional-information.tab-pane.active.content
      = render 'status', entry: entry
      = render 'collapsed_content', entry: entry, collapse: false
    #activity-logs.tab-pane
      = render 'activity_logs', entry: entry
    /- if can? :manage, @entry
    /  #download-logs.tab-pane
    /    = render 'download_logs', entry: entry
