.row-fluid
  .span6 
    %div
      %strong Status:
      = entry.status
    - unless entry.start_date.nil?
      %div
        %strong Start Date:
        = entry.start_date.strftime('%Y/%m/%d')
  .span6 
    %div
      %strong Type:
      = entry.entry_type
    - unless entry.end_date.nil?
      %div
        %strong End Date:
        = entry.end_date.strftime('%Y/%m/%d')  
- unless entry.data_type.nil?
  .row-fluid
    .span12
      %strong Data Type:
      = entry.data_type
