.row
  .col-sm-4
    - if can? :manage, @entry
      = render 'manager_menu', entry: @entry

    .panel.panel-default
      - if @entry.attachments.geojson.any?
        = render 'map', entry: @entry
      .panel-heading
        %h1.panel-title Agencies
      .panel-body
        - @entry.primary_agencies.each do |agency|
          .text-center
            = image_tag agency.logo.thumb('300x150').url unless agency.logo.nil?
            %h4= agency.name
      .panel-body
        %h5 Other Agencies
        - (@entry.funding_agencies-@entry.primary_agencies).each do |agency|
          .pull-left.text-center
            = image_tag agency.logo.thumb('80x80').url unless agency.logo.nil?
            %div= agency.acronym
        - (@entry.agencies - @entry.primary_agencies - @entry.funding_agencies).each do |agency|
          .pull-left.text-center
            = image_tag agency.logo.thumb('80x80').url unless agency.logo.nil?
            %div= agency.acronym
  .col-sm-8
    = render @entry
