.row
  .col-sm-4
    = render 'manager_menu', entry: @entry

    .panel.panel-default
      - if @entry.attachments.geojson.any?
        = render 'map', entry: @entry
      .panel-heading
        %h1.panel-title Organizations
      .panel-body
        - @entry.primary_organizations.each do |org|
          .text-center
            = image_tag org.logo.thumb('300x150').url unless org.logo.nil?
            %h4= org.name
      .panel-body
        %h5 Other Organizations
        - @entry.other_organizations.each do |org|
          .pull-left.text-center
            = image_tag org.logo.thumb('80x80').url unless org.logo.nil?
            %div
              = org.acronym
              &nbsp;
  .col-sm-8
    = render @entry

= render 'archive_modal', entry: @entry
