- unless facets.empty?
  .panel-body.panel-break
    %span.panel-title= title

    - if facets.count > 3
      .pull-right
        = link_to 'more...', "##{field.to_s.dasherize}-search", data: { toggle: 'expand', 'toggletext' => 'less...' }

  - selected = Array.wrap(@search_params[field])
  .facet-list.panel-body.expand{ id: "#{field}-search".dasherize, style: 'padding-top: 5px; padding-bottom: 0px; '}
    - facets.each do |facet|
      %span.facet-item
        %span.pull-right.badge.badge-default= facet['count']
        %div{ style: 'margin-right: 30px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;' }
          %label
            = check_box_tag "search[#{field}][]", facet['term'], selected.try(:include?, facet['term'].to_s)
            = facet['display_name']
