- unless facets.nil? or facets.empty?
  - selected = Array.wrap(@search_params[field])
  - if (selected & (facets.map{|k,v| k.to_s})).size == selected.size
    - colclass = ""
    - colicon = asset_path "fa-plus.png"
    - togicon = asset_path "fa-minus.png"
  - else
    - colclass = "in"
    - colicon = asset_path "fa-minus.png"
    - togicon = asset_path "fa-plus.png"

  - alpha_sort_icon = asset_path "fa-sort-alpha-desc.png"
  - numeric_sort_icon = asset_path "fa-sort-numeric-asc.png"

  .panel-body.panel-break
    = link_to "##{field.to_s.dasherize}-search", class: 'btn btn-default btn-sm', title: 'Toggle show more', data: { toggle: 'expand', 'toggleicon' => "#{togicon}" }, style: "margin-right: 10px;" do
      = image_tag "#{colicon}"
    %span.panel-title= "#{title} - #{facets.count}"

    .pull-right
      .sort-btns.btn-group
        = link_to '#', class: 'btn btn-default btn-sm sort-by', title: 'Sort Alphabetically', data: { target: "##{field}-search".dasherize, sort: 'alpha', direction: 'asc', toggleicon: "#{alpha_sort_icon}" } do
          = image_tag asset_path "fa-sort-alpha-asc"
        = link_to '#', class: 'btn btn-default btn-sm sort-by active', title: 'Sort by Counts', data: { target: "##{field}-search".dasherize, sort: 'numeric', direction: 'desc', toggleicon: "#{numeric_sort_icon}" } do
          = image_tag asset_path "fa-sort-numeric-desc"

  .facet-list.panel-body.collapse.expand{ id: "#{field}-search".dasherize, style: 'padding-top: 5px; padding-bottom: 0px;', class: "#{colclass}"}
    - facets.each do |facet|
      - next if facet['hidden']
      %span.facet-item{ data: { alpha: facet['display_name'], numeric: facet['doc_count'] } }
        %span.pull-right.badge.badge-default
          = facet['doc_count']
        %div{ style: 'margin-right: 30px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;' }
          %label
            = check_box_tag "search[#{field}][]", facet['key'], selected.try(:include?, facet['key'].to_s)
            = facet['display_name']
