= bootstrap_form_for :search, url: manager_entries_path, method: :get do |f|
  .panel.panel-default
    .panel-heading
      %h1.panel-title Search
    .map-left
      = render 'search/map'
    .panel-body
      .form-group.form-inline
        .input-group
          = f.text_field_without_bootstrap :query, value: @search_params[:query], placeholder: 'Keyword search', class: 'form-control'
          .input-group-btn{ style: 'width:1%;' }
            %button.btn.btn-default{ type: 'button', data: { behavior: 'clear-field', target: '#search_query', autosubmit: 'true' } }
              %i.fa.fa-times
            %button.btn.btn-primary{ type: 'submit' }
              %i.fa.fa-search    
      .row
        .col-sm-6
          .form-group
            = f.select_without_bootstrap :order, [['Sort: Relevance', 'relevance'], ['Sort: Title', 'title'], ['Sort: Last Updated', 'updated_at']], { selected: @search_params[:order] }, { class: 'form-control' }

        .col-sm-6
          .form-group
            = select_tag :limit, options_for_select([['Limit: 20', 20], ['Limit: 50', 50], ['Limit: 100', 100], ['Limit: 500', 500], ['Limit: 1000', 1000]], selected: params[:limit]), class: 'form-control'

          = link_to manager_entries_path, class: 'btn btn-default btn-block' do
            %i.fa.fa-times
            Reset all              
            
    .panel-body.panel-break
      %h3.panel-title Collections
    = render 'search/facet_field', facets: @facets.collections, field: :collections
    .panel-body.panel-break
      %h3.panel-title Tags
    = render 'search/facet_field', facets: @facets.tags, field: :tags
    = render 'search/date_fields', f: f
    .panel-body.panel-break
      %h3.panel-title Record Type
    = render 'search/facet_field', facets: @facets.entry_types, field: :entry_type_name
    .panel-body.panel-break
      %h3.panel-title Data Type
    = render 'search/facet_field', facets: @facets.data_types, field: :data_type_name
    .panel-body.panel-break
      %h3.panel-title Status
    = render 'search/facet_field', facets: @facets.status, field: :status
    .panel-body.panel-break
      %h3.panel-title Primary Organization
    = render 'search/facet_field', facets: @facets.primary_organizations, field: :primary_organizations
    .panel-body.panel-break
      %h3.panel-title Funding Organization
    = render 'search/facet_field', facets: @facets.funding_organizations, field: :funding_organizations
    .panel-body.panel-break
      %h3.panel-title Organization Category
    = render 'search/facet_field', facets: @facets.organization_categories, field: :organization_categories
    .panel-body.panel-break
      %h3.panel-title Primary Contact
    = render 'search/facet_field', facets: @facets.primary_contacts, field: :primary_contacts
    .panel-body.panel-break
      %h3.panel-title Other Contact
    = render 'search/facet_field', facets: @facets.other_contacts, field: :other_contacts
