- question_icon = asset_path "fa-question.png"
- clear_icon = asset_path "fa-times.png"
- search_icon = asset_path "fa-search.png"

#entry_search{ data: { behavior: 'float-checked' } }
  = bootstrap_form_for :search, url: catalog_entries_path, method: :get do |f|
    .panel.panel-default
      .map-left
        = render 'search/map'
      .panel-body.panel-break
        %span.panel-title Search
        - if current_portal.pages.find_by_path('search-help')
          .pull-right
            .sort-btns.btn-group
              = link_to page_path('search-help'), class: 'btn btn-default btn-sm' do
                = image_tag question_icon
      .panel-body
        .form-group.form-inline
          .input-group
            = f.text_field_without_bootstrap :query, value: @search_params[:query], placeholder: 'Keyword search', class: 'form-control'
            .input-group-btn{ style: 'width:1%;' }
              %button.btn.btn-default{ type: 'button', data: { behavior: 'clear-field', target: '#search_query', autosubmit: 'true' } }
                = image_tag clear_icon
              %button.btn.btn-primary{ type: 'submit' }
                = image_tag search_icon
        .row
          .col-sm-6
            .form-group
              = f.select_without_bootstrap :order, [['Sort: Relevance', 'relevance'], ['Sort: Title', 'title'], ['Sort: Last Updated', 'updated_at']], { selected: params[:search].try(:[],:order) }, { class: 'form-control' }

          .col-sm-6
            .form-group
              = select_tag :limit, options_for_select([['Limit: 20', 20], ['Limit: 50', 50], ['Limit: 100', 100], ['Limit: 500', 500], ['Limit: 1000', 1000]], selected: params[:limit]), class: 'form-control'
        = render 'search/buttons', f: f
      - if can? :edit, Entry
        = render 'search/entry_actions', f: f
      = render 'search/facet_field', title: 'Collection', facets: @facets.collections, field: :collections
      = render 'search/facet_field', title: 'Record Type', facets: @facets.entry_types, field: :entry_type_name
      = render 'search/facet_field', title: 'ISO Topic', facets: @facets.iso_topics, field: :iso_topics
      = render 'search/facet_field', title: 'Primary Organization', facets: @facets.primary_organizations, field: :primary_organizations
      = render 'search/facet_field', title: 'Funding Organization', facets: @facets.funding_organizations, field: :funding_organizations
      = render 'search/facet_field', title: 'Organization Category', facets: @facets.organization_categories, field: :organization_categories
      = render 'search/facet_field', title: 'Primary Contact', facets: @facets.primary_contacts, field: :primary_contacts
      = render 'search/facet_field', title: 'Other Contact', facets: @facets.other_contacts, field: :other_contacts
      = render 'search/facet_field', title: 'Status', facets: @facets.status, field: :status
      = render 'search/facet_field', title: 'Data Type', facets: @facets.data_types, field: :data_types
      = render 'search/facet_field', title: 'Region', facets: @facets.regions, field: :regions
      = render 'search/date_fields', f: f
      = render 'search/facet_field', title: 'Tag', facets: @facets.tags, field: :tags
      .panel-footer
        = render 'search/buttons', f: f
