.tabbable
  %ul.nav.nav-tabs
    %li.active
      = link_to 'Pages', '#pages', data: { toggle: 'tab' }
    %li
      = link_to 'Settings', '#settings', data: { toggle: 'tab' }
    %li
      = link_to 'Carousel', '#carousel', data: { toggle: 'tab' }
  .tab-content
    #pages.tab-pane.active
      .navbar.navbar-static-top
        .navbar-inner
          .brand= "#{@setup.title} Pages"
          = link_to new_settings_page_path, class: 'btn btn-success pull-right' do
            %i.icon-plus.icon-white
            New Page
      .content
        = render 'pages', setup: @setup
        
    #settings.tab-pane
      .navbar.navbar-static-top
        .navbar-inner
          .brand= "#{@setup.title} Settings"
          = link_to 'Edit', edit_settings_path, class: 'btn pull-right'
      .content
        = render 'settings', setup: @setup
    
    #carousel.tab-pane
      #carousel_images{style:"position:relative;"}
        .navbar.navbar-static-top
          .navbar-inner
            .brand Carousel Setup
            = link_to 'Add image', '#add_image_modal', role: 'button', data: { toggle: 'modal' }, class: 'btn btn-success pull-right'
        .content
          = render 'carousel_settings', setup: @setup