%ul.nav.nav-tabs
  %li.active
    %a{ href: '#contact_form_fields', data: { toggle: 'tab' } } Contact Form
  %li
    %a{ href: '#record_list', data: { toggle: 'tab' } } Record List

= bootstrap_form_for [:catalog, @contact], layout: :horizontal, label_col: 'col-lg-3 col-md-3', control_col: 'col-lg-9 col-md-9' do |f|
  .tab-content{ style: 'margin-top: 5px;' }
    #contact_form_fields.tab-pane.active
      = f.alert_message "Please fix the errors below.", error_summary: false
      = f.text_field :name
      = f.email_field :email
      = f.phone_field :phone_number, placeholder: "(999)999-9999", pattern: "[0-9()-]+", title: "Please use only numerals,(), and -."
      = f.text_field :job_title

    #record_list.tab-pane
      %p List of catalog records that are linked to this contact.
      = render 'contacts', contact: @contact
      
  .form-action
    = link_to :back, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel

    .pull-right
      = f.primary
