#contact-form
  - ajax ||= false
  - modal ||= false
  = simple_form_for [:catalog, @contact], wrapper: :horizontal_form, remote: ajax do |f|
    = f.error_notification
    .row
      .form-inputs
        = f.input :name
        = f.input :email
        = f.input :phone_number, placeholder: "(999)999-9999", pattern: "[0-9()-]+", title: "Please use only numerals,(), and -."
        = f.input :job_title

    .form-action.text-right.action-space
      = f.button :submit

      - if !modal
        = link_to :back, class: 'btn btn-default pull-left' do
          %i.fa.fa-arrow-left
          Cancel
