.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:catalog, :contacts] do
            %i.fa.fa-group
            Contacts
        %li.active
          Edit #{@contact.name}

    .panel-body
      %ul.nav.nav-tabs
        - sections = %w{ contact_form record_list }
        - sections.each do |section|
          %li{class: (section == sections.first ? 'active' : '')}
            = link_to section.humanize, "##{section}", data: { toggle: 'tab' }

      .tab-content{ style: 'margin-top: 5px;' }

        #layer_settings.tab-pane.active
          = render 'form', contact: @contact

        #record_list.tab-pane
          %p List of catalog records that are linked with this contact.
          = render 'entries', contact: @contact
