%tr.fields
  %td
    = f.hidden_field :id
    .fileinput.fileinput-new{data:{provides:'fileinput'}}
      - if f.object.new_record?
        %span.btn.btn-default.btn-file
          %span.fileinput-new Select file
          %span.fileinput-exists Change
          = f.file_field_without_bootstrap :file, hide_label: true, label_col: 'col-sm-0'
        %span.fileinput-filename
        %a.close.fileinput-exists{href:'#',style:{float:'none'},data:{dismiss:'fileinput'}} &times;
      - else
        = "#{f.object.file.name} (#{number_to_human_size f.object.file.size})"
  %td
    = f.text_field :description, hide_label: true, label_col: 'col-sm-0'
  %td
    = f.select :category, Attachment::CATEGORIES, hide_label: true, label_col: 'col-sm-0'
  %td.text-right
    - unless f.object.new_record?
      - if f.object.category == "Geojson"
        = link_to preview_catalog_entry_attachment_path(f.object.entry, f.object), remote: true, class: 'btn btn-primary', title: 'Show geojson preview map' do
          %i.fa.fa-image
        = link_to "http://geojson.io#data=data:text/x-url,#{catalog_entry_attachment_url(f.object.entry, f.object, :geojson)}", class: 'btn btn-primary', title: 'Send File to Geojson.io', target: :_blank do
          %i.fa.fa-send-o
      = link_to download_path(f.object.global_id), class: 'btn btn-primary', title: 'Download File', data: { turbolinks: "false"} do
        %i.fa.fa-download
    = f.link_to_remove('<i class="fa fa-times"></i>'.html_safe, class: 'btn btn-danger', title: 'Remove')
