- collapse ||= false
.collapsed_content{class: collapse ? 'collapse' : '', id:"#{entry.class}-#{entry.id}" }
  = render 'contacts', entry: entry
  = render 'organizations', entry: entry

  /- unless entry.iso_topic_ids.empty?
  /  %dt ISO Topics
  /  %dd= item.iso_topics.list
  /  %br

  - unless entry.regions.nil? or entry.regions.empty?
    %dt Regions
    %dd= list_regions(entry)
    %br

  - unless entry.collections.nil? or entry.collections.empty?
    %dt Collections
    - entry.collections.each do |collection|
      %dd
        = link_to collection.name, catalog_entries_path(search: { collections: [collection.id] })
    %br

  /= render '/shared/catalogs/map_layers_info', catalog: item
  
  - unless entry.owner_portal.id == current_portal.id
    %dt Source Portal
    %dd
      = link_to "//#{entry.owner_portal.default_url.url}" do
        = entry.owner_portal.full_title
    %br
  
  %dt Direct Record Link
  %dd
    = link_to catalog_entry_url(entry) do
      = catalog_entry_url(entry)
  - if entry.attachments.geojson.any? or entry.map_layers.any?
    %dt Direct Full Map Link
    %dd
      = link_to catalog_entry_map_path(entry) do
        = catalog_entry_map_url(entry)
