%h3.title
  = entry.title
  - if !entry.published?
    %span{style: "color: red;"} (Unpublished)
  - if entry.archived?
    %span{style: "color: red;"} (Archived)
    %h4
      Archive Message: #{entry.archive.message}
:markdown
  #{entry.description}
%p
  .detail-block
    %label Status:
    = entry.status
  - unless entry.start_date.blank?
    .detail-block
      %label Starts:
      = entry.start_date
  - unless entry.end_date.blank?
    .detail-block
      %label Ends:
      = entry.end_date
  = render 'resources', entry: entry
  = render 'tag_cloud', entry: entry

.tabbed{ style: 'margin-top: 10px;' }
  %ul.nav.nav-tabs{ style: 'padding-left: 5px; padding-top: 5px; margin-bottom: 0;' }
    %li.active
      = link_to '#additional-information', data: { toggle: 'tab' } do
        %b Additional Information
    %li
      = link_to '#activity-logs', data: { toggle: 'tab' } do
        %b Activity Logs
    - if can? :update, entry
      %li
        = link_to '#download-logs', data: { toggle: 'tab' } do
          %b Download Logs

  .tab-content
    #additional-information.tab-pane.active.content
      = render 'status', entry: entry
      = render 'contacts', entry: entry
      = render 'organizations', entry: entry
      = render 'regions', entry: entry
      = render 'collections', entry: entry
      = render 'source_portal', entry: entry
      = render 'entry_links', entry: entry
    #activity-logs.tab-pane
      = render 'activity_logs', activities: activities
    - if can? :update, entry
      #download-logs.tab-pane
        = render 'shared/download_logs', entry: entry, downloads: @downloads, download_count: @download_count
