.row
  .col-sm-6
    %div
      %strong Status:
      = entry.status
    - unless entry.start_date.nil?
      %div
        %strong Start Date:
        = entry.start_date.strftime('%Y/%m/%d')
  .col-sm-6
    %div
      %strong Type:
      = entry.entry_type
    - unless entry.end_date.nil?
      %div
        %strong End Date:
        = entry.end_date.strftime('%Y/%m/%d')  
- unless entry.data_types.nil?
  .row
    .col-sm-12
      %strong Data Types:
      = list_data_types(entry)
