= render_into_cms @cms_page do
  .map-top
  .row
    .col-sm-4
      = render 'search/form'
    .col-sm-8.search-results
      .results-heading
        = render 'search/pagination', entries: @entries
      .results-body.clear-fix
        - if @entries.count > 0
          - @entries.each do |entry|
            .entry{ id: dom_id(entry) }
              = render 'search/entry', entry: entry
              = render 'actions', entry: entry
        - else
          %h3.text-center No Records Found
      .results-footer
        = render 'search/pagination', entries: @entries

= render 'export_modal'
