= render_into_cms @cms_page do
  .map-top
  .row
    .col-sm-4
      = render 'search/form'
    .col-sm-8.search-results
      .results-heading
        %h1.title{ style: 'margin-top: 0px;' }
          #{pluralize @entries.total_count, 'result'} found
          = render 'shared/page_entry_info', collection: @entries
        = render 'search/pagination', entries: @entries
      .results-body.clear-fix
        - @entries.each do |entry|
          .entry{ id: dom_id(entry) }
            = render 'search/entry', entry: entry
            = render 'actions', entry: entry
      .results-footer
        = render 'search/pagination', entries: @entries

= render 'export_modal'
