- content_for :head do
  %meta{name: 'keywords', content: @entry.tags.join(',').html_safe}

= render_into_cms @cms_page do
  .row
    .col-sm-4
      = render 'manager_menu', entry: @entry
      = render 'share_portal', entry: @entry

      .panel.panel-default
        - if @entry.attachments.geojson.any? or @entry.map_layers.any?
          = render 'map', entry: @entry
        .panel-heading
          %h1.panel-title Organizations
        .panel-body
          - @entry.primary_organizations.each do |org|
            .text-center
              = image_tag org.logo.thumb('300x150').url unless org.logo.nil?
              %h4= org.name
        .panel-body
          %h5 Other Organizations
          - @entry.other_organizations.each do |org|
            .pull-left.text-center
              = image_tag org.logo.thumb('80x80').url unless org.logo.nil?
              %div
                = org.acronym
                &nbsp;
        .panel-heading
          %h1.panel-title Record Previews
        .panel-body
          - if @entry.attachments.primary_thumbnail.any?
            - @entry.attachments.primary_thumbnail.each do |thumbnail|
              .text-center
                = image_tag thumbnail.file.thumb('300x150').url
          - if @entry.attachments.thumbnail.any?
            - @entry.attachments.thumbnail.each do |thumbnail|
              .text-center
                = image_tag thumbnail.file.thumb('300x150').url
    .col-sm-8
      .full-record
        = render @entry, activities: @activities

= render 'archive_modal', entry: @entry
