.page-header{ style:'position: relative'}
  - if !current_user.nil? and (current_user.access_cms? or current_user.access_catalog? or current_user.access_site_admin?)
    = link_to 'Manage Site', manager_path, class: 'btn btn-primary', style: 'position: absolute; top: 10px; right: 10px;'

  - header_snippet = current_setup.snippets.where(slug: 'header').first
  - if header_snippet
    = render_snippet_content(header_snippet, current_setup)
  - else
    %h1
      = current_setup.title
      %small= current_setup.by_line

.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      - current_setup.pages.roots.where(main_menu: true).each do |page|
        - next unless page.public?
        %li{ class:(!request.path.match(page.slug).nil? or (page.slug == "home" and request.path == "/")) ? 'active' : '' }
          = link_to page_path(page.slug) do
            %i{class:page.menu_icon}
            = page.title
    = form_tag search_path, class: 'navbar-search pull-right' do
      = text_field_tag 'search[q]', nil, placeholder: "Quick Search", class: 'search-query'