.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    %ul.nav
      %li{class:(current_page?(root_url) ? 'active' : '')}
        = link_to root_url do 
          %i.icon-home.icon-white
          Home
      %li{class:(params[:controller] == 'projects' ? 'active' : '')}
        = link_to '#' do
          %i.icon-road.icon-white
          Projects
      %li{class:(params[:controller] == 'assets' ? 'active' : '')}
        = link_to '#' do
          %i.icon-file.icon-white
          Data
      %li{class:(current_page?(search_path) ? 'active' : '')}
        = link_to search_path do
          %i.icon-search.icon-white
          Advanced Search
    = form_tag search_path, class: 'navbar-search pull-right' do
      = text_field_tag 'search[q]', nil, placeholder: "Quick Search", class: 'search-query'