.navbar.navbar-static-top
  .navbar-inner
    .brand Layouts
    = link_to new_manager_page_layout_path, class: 'btn btn-success pull-right' do
      %i.icon-plus.icon-white
      New Layout
.content
  %table.pages_list.table.table-striped.table-condensed
    %thead
      %tr
        %th Name
        %th.actions Actions
    %tbody
      - setup.page_layouts.each do |layout|
        %tr
          %td
            = link_to edit_manager_page_layout_path(layout), class: 'edit' do
              %i.icon-file
              = layout.name
              - if layout.default?
                (default)
          %td.actions
            = link_to edit_manager_page_layout_path(layout), class: 'btn' do
              %i.icon-edit    
            = link_to manager_page_layout_path(layout), method: 'DELETE', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do
              %i.icon-trash.icon-white