= form_for([:manager, @page_layout]) do |f|
  - if @page_layout.errors.any?
    #error_explanation
      %h2
        = pluralize(@page_layout.errors.count, "error")
        prohibited this setups_page_layout from being saved:
      %ul
        - @page_layout.errors.full_messages.each do |msg|
          %li= msg
          
  = f.label :name
  = f.text_field :name, class: 'span12'
  = f.label :default
  = f.select :default, [['No', 0], ['Yes', 1]], class: 'span12'
  = f.label :content
  %div{style:"border:1px solid #dfdfdf;"}
    = f.text_area :content, class: 'editor span12', style: 'border:1px solid #dfdfdf;'
    
  .form-actions
    = link_to manager_path, class: 'btn' do
      %i.icon-arrow-left
      Back
    = f.submit class: 'btn btn-primary pull-right'
