= form_for([:manager, @page_layout], remote: true) do |f|
  - if @page_layout.errors.any?
    #error_explanation
      %h2
        = pluralize(@page_layout.errors.count, "error")
        prohibited this setups_page_layout from being saved:
      %ul
        - @page_layout.errors.full_messages.each do |msg|
          %li= msg
          
  = f.hidden_field :lock_version, class: 'lock_version_field'
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'span12'
  .control-group
    = f.label :default, class: 'control-label'
    .controls
      = f.select :default, [['No', false], ['Yes', true]], class: 'span12'
    = f.hidden_field :change_default, value: false

  / ACE Editor
  %div.ace.bordered{ data: { editor: 'ace' } }
    = render '/shared/ace/toolbar'
    = f.text_area :content, class: 'span12', style:"border: none;", rows: 10
  
  .form-actions{style:'margin-top: 0;'}
    = link_to manager_page_contents_path(tab: "page_layouts"), class: 'btn' do
      %i.icon-arrow-left
      Back
    .pull-right
      = f.submit 'Save', class: 'btn btn-primary'
      = f.submit 'Save and Close', class: 'btn btn-primary'

= render '/shared/ace/image_chooser', page: @page_layout
= render '/shared/ace/link_chooser', page: @page_layout
= render '/shared/ace/modal_icon_list', page: page
= render '/shared/ace/javascript', page: @page_layout

:javascript

  $("#page_layout_default").change(function() {
    var default_val = $("select#page_layout_default :selected").val();
    if (#{@default_layout} && default_val == "true") {
      var response = confirm("Another layout is set to default, do you wish to make this the default layout?");
      if (response == true) {
        $("#page_layout_change_default").val(true);
      } else {
        $("#page_layout_default").val(false);
      }
    }
  })
