%h1 Listing setups_page_layouts
%table
  %tr
    %th Name
    %th Content
    %th
    %th
    %th
  - @setups_page_layouts.each do |setups_page_layout|
    %tr
      %td= setups_page_layout.name
      %td= setups_page_layout.content
      %td= link_to 'Show', setups_page_layout
      %td= link_to 'Edit', edit_setups_page_layout_path(setups_page_layout)
      %td= link_to 'Destroy', setups_page_layout, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Page layout', new_setups_page_layout_path
