<h1>Listing setups_page_layouts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @setups_page_layouts.each do |setups_page_layout| %>
  <tr>
    <td><%= setups_page_layout.name %></td>
    <td><%= setups_page_layout.content %></td>
    <td><%= link_to 'Show', setups_page_layout %></td>
    <td><%= link_to 'Edit', edit_setups_page_layout_path(setups_page_layout) %></td>
    <td><%= link_to 'Destroy', setups_page_layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page layout', new_setups_page_layout_path %>
