%p#notice= notice
%p
  %b Name:
  = @page_layout.name
%p
  %b Content:
  = @page_layout.content
= link_to 'Edit', edit_settings_page_layout_path(@page_layout)
|
\#{link_to 'Back', settings_page_layouts_path}
