.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:catalog, :contacts] do
            %i.fa.fa-group
            Map Layers
        %li.active
          Edit #{@map_layer.name}

    .panel-body
      %ul.nav.nav-tabs
        - sections = %w{ map_layer attached_catalogs }
        - sections.each do |section|
          %li{class: (section == sections.first ? 'active' : '')}
            = link_to section.humanize, "##{section}", data: { toggle: 'tab' }

      .tab-content{ style: 'margin-top: 5px;' }

        #map_layer.tab-pane.active
          = render 'form', map_layer: @map_layer 

        #attached_catalogs.tab-pane
          = render 'entries', map_layer: @map_layer 
