- collapse ||= false
.navbar.navbar-static-top
  .navbar-inner
    - if catalog.downloadable?
      .btn-group
        = link_to catalog_downloads_path(catalog), class: 'btn', remote: true do
          %i.icon-cloud-download
          Download
    - if user_signed_in?
      - available_portals = member_portals(:can_manage_catalog?)# - catalog.setups - current_setup.ancestors
      - if catalog.published? and available_portals.count > 0
        .btn-group{id: dom_id(catalog,"share_button")}
          = render 'share_button', catalog: catalog, available_portals: available_portals
      - if catalog.owner_setup == current_setup and current_member.can_manage_catalog?
        .btn-group
          = link_to edit_manager_catalog_path(catalog), class: 'btn', target: :_blank, data: { title: "Edit Record", content: "Edit this record.", trigger: "hover", placement: "bottom", toggle: "popover", container: "##{dom_id(catalog, :record)}" } do
            %i.icon-edit
            Edit

  .btn-group
.content
  - if !catalog.published?
    %h5.alert.alert-warning
      %i.icon-warning-sign
      This catalog record has not been published
  .result{ data: { wkt: catalog.geometry_collection, type: catalog.type } }
    %h4.title= catalog.title

    - if catalog.published? or (current_member and current_member.can_manage_catalog?)
      .row-fluid
        .span7
          = render '/shared/catalogs/status', item: catalog
          %dl
            %dt Description
            %dd
              :markdown
                #{catalog.description}
          = render '/shared/catalogs/collapsed_content', item: catalog, collapse: collapse
          
        .span5
          #map{ data: { map: 'CatalogMap', target: '#map_canvas' } }
            #map_canvas{ data: { projection: 'EPSG:3857', displayProjection: 'EPSG:4326', google: "true", layers: ['TILE.EPSG:3857.*'] } } } }

          %br/
          = render '/shared/catalogs/files', catalog: catalog
:javascript
  $(document).ready(function() {
    var mapwrap = $('[data-map="CatalogMap"]');
    var map = new CatalogMap(mapwrap.data('target'))
  })