- collapse ||= false
.navbar.navbar-static-top
  .navbar-inner
    = render '/shared/catalogs/catalog_buttons', catalog: catalog

  .btn-group
.content
  - if !catalog.published?
    %h5.alert.alert-warning
      %i.icon-warning-sign
      This catalog record has not been published
  .result{ data: { wkt: catalog.geometry_collection, type: catalog.type } }
    %h4.title= catalog.title

    - if catalog.published? or (current_member and current_member.can_manage_catalog?)
      .row-fluid
        .span7
          = render '/shared/catalogs/status', item: catalog
          %dl
            %dt Description
            %dd
              :markdown
                #{catalog.description}
          = render '/shared/catalogs/collapsed_content', item: catalog, collapse: collapse
          
        .span5
          #map{ data: { map: 'CatalogMap', target: '#map_canvas' } }
            #map_canvas{ data: { projection: @current_setup.projection, displayProjection: @current_setup.projection, google: @current_setup.google_layers==true ? "true" : "false", layers: ["TILE.#{@current_setup.projection}.*"] } } } }

          %br/
          = render '/shared/catalogs/files', catalog: catalog
:javascript
  $(document).ready(function() {
    var mapwrap = $('[data-map="CatalogMap"]');
    var map = new CatalogMap(mapwrap.data('target'))
  })