- collapse ||= false
.navbar.navbar-static-top
  .navbar-inner
    = render '/shared/catalogs/catalog_buttons', catalog: catalog

  .btn-group
.content
  #catalog-published
    = render 'catalogs/ispublished', catalog: catalog
  .result{ data: { wkt: catalog.geometry_collection, type: catalog.type } }
    %h4.title= catalog.title

    - if catalog.published? or (current_member and current_member.can_manage_catalog?)
      .row-fluid
        .span7
          = render '/shared/catalogs/status', item: catalog
          %dl
            %dt Description
            %dd
              :markdown
                #{catalog.description}
          = render '/shared/catalogs/collapsed_content', item: catalog, collapse: collapse
          
        .span5
          - map_projection = current_setup.record_projection || current_setup.projection
          #map{ data: { map: 'CatalogMap', target: '#map_canvas' } }
            #map_canvas{ data: { projection: map_projection, displayProjection: 'EPSG:4326', google: current_setup.google_layers.to_s, layers: ["TILE.#{map_projection}.*"] } }

          %br/
          = render '/shared/catalogs/files', catalog: catalog
:javascript
  $(document).ready(function() {
    var mapwrap = $('[data-map="CatalogMap"]');
    var map = new CatalogMap(mapwrap.data('target'))
  })