- collapse ||= false
.content
  - if !catalog.published?
    %h5.alert.alert-warning
      %i.icon-warning-sign
      This catalog record has not been published
  .result{ data: { wkt: catalog.geometry_collection } }
  
  %h4.title= catalog.title

  - if catalog.published? or (current_member and current_member.can_manage_catalog?)
    .row-fluid
      .span7
        = render '/shared/catalogs/status', item: catalog
        %dl
          %dt Description
          %dd
            :markdown
              #{catalog.description}
        = render '/shared/catalogs/collapsed_content', item: catalog, collapse: collapse
        
      .span5
        #map{ data: {                                       |
          openlayers: 'map_canvas',                         |
          projection: 'EPSG:3338',                          |
          displayProjection: 'EPSG:4326',                   |
          layers: ['TILE.EPSG:3338.OSM','TILE.EPSG:3338.BDL','TILE.EPSG:3338.TOPO'] } }
          #map_canvas

        %br/
        = render '/shared/catalogs/files', catalog: catalog
