- collapse ||= false
                
= render '/shared/catalogs/map', catalog: catalog
    
.result{ data: { wkt: catalog.geometry_collection, type: catalog.type } }
  = render '/shared/catalogs/catalog_buttons', catalog: catalog
  %table
    %tr
      %td{ style: 'vertical-align: top; width: 300px;' }
        .content{ style: 'border-bottom: 1px solid #efefef;' }
          = render '/shared/catalogs/primary_agency_icon', catalog: catalog
        .content{ style: 'border-bottom: 1px solid #efefef;' }
          = render '/shared/catalogs/agency_icons', catalog: catalog
        .content  
          = render '/shared/catalogs/map_layers', catalog: catalog
      %td.content{ style: 'border-left: 1px solid #efefef' }
        #catalog-published
          = render 'catalogs/ispublished', catalog: catalog

        %h4.title= catalog.title
  
        - if catalog.published? or current_member.try(:can_manage_catalog?)
          :markdown
            #{catalog.description}
    
          = render '/shared/catalogs/resources', catalog: catalog
          = render '/shared/catalogs/tag_cloud', catalog: catalog

          %h3 Additional Information
    
          = render '/shared/catalogs/status', item: catalog
          = render '/shared/catalogs/collapsed_content', item: catalog, collapse: collapse

= render '/shared/catalogs/files', catalog: catalog
