- collapse ||= false
.collapsed_content{class: collapse ? 'collapse' : '', id:"#{item.class}-#{item.id}" }
  = render '/shared/catalogs/people', item: item
  = render '/shared/catalogs/agencies', item: item
  = render '/shared/catalogs/locations', item: item

  -#.gcmd_themes.tabbed
  -#  %label GCMD Themes:
  -#  = item.gcmd_themes.collect(&:name).compact.join(', ')
  -#.spacer

  - unless item.iso_topic_ids.empty?
    %dt ISO Topics
    %dd= item.iso_topics.list
    %br

  - unless item.tags.empty?
    %dt Tags
    %dd= item.tags.list
    %br

  / - if item.repo and not item.repo.empty?
  /   .tabbed
  /     %label Download Link:
  /     = link_to catalog_url(item, :format => 'zip'), catalog_url(item, :format => 'zip'), :target => :_blank
  /     .spacer

  - unless item.collections.nil? or item.collections.empty?
    %dt Collection
    %dd= item.collections.list
    %br

  - unless item.links.nil? or  item.links.empty?
    %dt Links
    %dd= render :partial => '/shared/catalogs/link', collection: item.links
    %br

  / %dt Record Information Source
  / %dd= item.data_source.name
  / %br
  /   
  / %dt Direct Record Link:
  / - if item.data_source.name == 'NSSI'
  /   %dd= link_to item.data_source.name, catalog_path(item), :target => :_blank
  / - else
  /   %dd= link_to item, item, :target => :_blank
  
  %dt Source Portal
  %dd
    = link_to "//#{item.owner_setup.default_url}" do
      = item.owner_setup.full_title
  %br
  
  %dt Direct Record Link
  %dd
    = link_to catalog_url(item) do
      = item.to_param