%table.table.table-striped.table-condensed
  %thead
    %tr
      %th &nbsp;
  %tbody
    %tr
      %td
        %dl.dl-horizontal.contact-info
          .row-fluid
            .span12
              .item
                %dt{style: "width: 200px;"} Total Downloads: &nbsp; 
                %dd= catalog.downloads.count
          .row-fluid
            .span12
              .item
                %dt{style: "width: 191px;"} Downloaded File Counts:
          - catalog.uploads.each do | item |
            .row-fluid
              .span1
                &nbsp;
              .span10
                %b= item.file.name
              .span1
                = item.download_count

    - catalog.downloads.order('created_at DESC').limit(50).each do |download|
      - contact = download.loggable
      %tr
        %td
          %dl.dl-horizontal.contact-info
            .row-fluid
              .span4
                .item
                  %dt Date: 
                  %dd= download.try(:created_at).try(:strftime, "%F %T") 
                .item
                  %dt User: 
                  %dd= download.user.nil? ? 'Guest' : download.user.fullname
              .span8
                .item
                  %dt File:
                  %dd= File.basename(download.log[:url].to_s)
                - if contact.try(:setup).try(:present?)
                  .item
                    %dt Portal: 
                    %dd
                      = contact.try(:setup).try(:acronym)
                      &nbsp;
            - unless contact.nil?
              .row-fluid
                .span6
                  - unless contact.name.nil?
                    %dt Name:
                    %dd
                      = contact.name
                      &nbsp;
                  %dt IP:
                  %dd
                    = contact.user_ip
                    &nbsp;
                .span6
                  - unless contact.email.nil?
                    %dt Email:
                    %dd
                      = contact.email
                      &nbsp;
              - unless contact.usage_description.nil?
                .item
                  %dt Description: 
                  %dd
                    = contact.usage_description
                    &nbsp;
