%table.table.table-striped.table-condensed
  %thead
    %tr
      %th &nbsp;
  %tbody
    - catalog.downloads.order('created_at DESC').limit(50).each do |download|
      - contact = ContactInfo.find(download.log[:contact_info]) if download.log.try('[]', :contact_info).try(:present?)
      %tr
        %td
          %dl.dl-horizontal.contact-info
            .row-fluid
              .span6
                .item
                  %dt Date: 
                  %dd= download.try(:created_at).try(:strftime, "%F %T") 
                .item
                  %dt User: 
                  %dd= download.user.nil? ? 'Guest' : download.user.fullname
              .span6
                .item
                  %dt File:
                  %dd= File.basename(download.loggable.file.name)
                - if contact.try(:setup).try(:present?)
                  .item
                    %dt Portal: 
                    %dd
                      = contact.try(:setup).try(:acronym)
                      &nbsp;
            - unless contact.nil?
              .row-fluid
                .span6
                  %dt Name:
                  %dd
                    = contact.try(:name)
                    &nbsp;
                  %dt IP:
                  %dd
                    = contact.try(:user_ip)
                    &nbsp;
                .span6
                  %dt Email:
                  %dd
                    = contact.try(:email)
                    &nbsp;
              .item
                %dt Description: 
                %dd
                  = contact.try(:usage_description)
                  &nbsp;
