%h4 Uploaded Files
%table.table-bordered.table-striped.table-condensed{style:'width:100%'}
  %thead
    - if current_member and current_member.can_manage_catalog?
      %tr
        %td{colspan:2,style:'padding:0'}
          .navbar.navbar-static-top
            .navbar-inner
              .brand Files
              .btn-group.pull-right
                %button.btn.btn-primary{data: { toggle:'modal', target:'#file_upload_modal' }}
                  %i.icon-upload.icon-white
                  Add File
      - unless catalog.files.empty?
        %tr{style:'text-align:left'}
          %th Name
          %th Size
  %tbody
    - if catalog.files.empty?
      %tr
        %td.lead{colspan:2, style:'text-align:center'} No files have been uploaded
    - else
      - catalog.files.each do |file|
        %tr
          %td= file
          %td= number_to_human_size File.size(File.join(catalog.upload_path, file))
          
- if current_member and current_member.can_manage_catalog?
  = form_for catalog, as: :upload, url: manager_upload_path(catalog), html: { class: 'modal hide fade', id: 'file_upload_modal' } do |f|
    .modal-header
      %button.close{data: { dismiss:'modal' }} &times;
      %h3 File upload form
    .modal-body
      %p Select a file to upload

      .fileupload.fileupload-new{data:{provides:'fileupload'}}
        .input-append
          .uneditable-input.span5
            %i.icon-file.fileupload-exists
            %span.fileupload-preview
          %span.btn.btn-file
            %span.fileupload-new Select file
            %span.fileupload-exists Change
            = f.file_field 'file'
          %a.btn.fileupload-exists{href:'#',data:{dismiss:'fileupload'}} Remove
        / %span.help-block
        /   If uploading a zip file the contents will be automatically expanded and added to the current archive
    .modal-footer
      = link_to 'Cancel', '#', 'data-dismiss' => 'modal', class: 'btn'
      = submit_tag 'Upload', class: 'btn btn-primary'