.row-fluid
  .span6 
    %div
      %strong Status:
      = item.status
    - unless item.start_date.nil?
      %div
        %strong Start Date:
        = item.start_date.strftime('%Y/%m/%d')
  .span6 
    %div
      %strong Type:
      = item.type == 'Project' ? 'Project' : 'Data'
    - unless item.end_date.nil?
      %div
        %strong End Date:
        = item.end_date.strftime('%Y/%m/%d')  
- unless item.data_types.empty?
  .row-fluid
    .span12
      %strong Data Types:
      = item.data_types.collect(&:name).join(', ')