!!! 5
%html
%head
  %title North Slope Science Catalog
  %link{ :href => '/images/favicon3.ico', :rel => "SHORTCUT ICON"}
  %meta{ :name => 'description', :content => 'North Slope Science Initiative Catalog' }
  %meta{ :name => 'keywords', :content => 'North Slope Science Initiative Catalog data projects tracking geographic information network alaska' }
  %meta{ :name => 'author', :content => 'GINA' }

  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

  = include_css(:extjs)

  = javascript_include_tag('prototype', 'OpenLayers-2.10/OpenLayers.js')
  = include_js(:extjs)
  = javascript_include_tag('proj4js/lib/proj4js.js', 'proj4js/lib/projCode/merc.js', 'proj4js/lib/projCode/aea.js', 'proj4js/lib/defs/EPSG3338.js', :cache => 'cached/proj4')
  = include_app_js(:application, :openlayers)
  = javascript_include_tag('/data.js')

%body
  #content
    = yield