= bootstrap_form_for [:manager, @use_agreement], label_errors: true, layout: :horizontal do |f|
  = f.alert_message "Please fix the errors below.", error_summary: false
  = f.text_field :title, wrapper_class: 'required'
  = f.text_area :body, cols: 40, rows: 10, wrapper_class: 'required'

  = f.form_group do
    = f.check_box :required

  = f.form_group do
    = f.check_box :archived

  .form-action
    = link_to :back, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel

    .pull-right
      = f.primary
