.row
  .col-sm-4
    .panel.panel-default
      .panel-body
        = search_form_for [:manager, @q] do |f|
          .form-group
            .input-group
              = f.search_field :title_cont, class: 'form-control', placeholder: 'Search by use agreement title'

              .input-group-btn
                = button_tag type: 'submit', class: 'btn btn-primary' do
                  %i.fa.fa-search
                = link_to manager_use_agreements_path, class: 'btn btn-danger ' do
                  %i.fa.fa-search-minus

      .panel-footer
        = link_to new_manager_use_agreement_path, class: 'btn btn-success btn-block' do
          %i.fa.fa-pencil
          New Use Agreement
  .col-sm-8
    .panel.panel-default
      .panel-heading{ style: 'position: relative' }
        .pull-right.muted{ style: 'font-size: 1em;' }
          = page_entries_info @use_agreements
        %ol.breadcrumb
          %li.active
            %i.fa.fa-pencil
            Use Agreements
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th.col-sm-6 Title
            %th.col-sm-2 Required
            %th.col-sm-2 Archived
            %th.text-right Actions
        %tbody
          = render(partial: "use_agreement_row", collection: @use_agreements, as: :use_agreement) || "<tr><td colspan=\"3\">There are no use agreements defined</td></tr>".html_safe
    .text-center
      %div= paginate @use_agreements
      = page_entries_info @use_agreements

