= simple_form_for(@cms_snippet) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :content, label: false, input_html: { class: 'hidden' }

    .panel.panel-default
      %ul.nav
        .btn-toolbar.navbar-btn{ style: 'padding-left: 5px;'}
          = render 'shared/ace/base_toolbar'
          = render 'shared/ace/html_toolbar'
          = render 'shared/ace/helper_toolbar'
          = render 'shared/ace/attachment_toolbar'
      #content-editor{ data: { editor: 'ace', target: '#cms_snippet_content', mode: 'html_ruby' } }

  .form-actions.text-right
    = f.button :submit
