= simple_form_for(@cms_snippet) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :slug
    = f.input :content
    = f.association :portal
  .form-actions
    = f.button :submit
