%p#notice= notice
%p
  %strong Name:
  = @cms_snippet.name
%p
  %strong Slug:
  = @cms_snippet.slug
%p
  %strong Content:
  = @cms_snippet.content
%p
  %strong Portal:
  = @cms_snippet.portal
= link_to 'Edit', edit_cms_snippet_path(@cms_snippet)
|
= link_to 'Back', cms_snippets_path
