- content_for :sidebar do
  .panel.panel-default
    .panel-heading
      .panel-title Search Downloads
    .panel-body
      = search_form_for @q, url: downloads_manager_dashboards_path, html: { method: :get } do |f|
        .form-group
          .input-group
            = f.search_field :file_name_or_user_name_cont, class: 'form-control', placeholder: 'Search by file name or user name'
          
            .input-group-btn
              %button.btn.btn-default{ type: 'button', data: { behavior: 'clear-field', target: '#q_file_name_or_user_name_cont', autosubmit: 'true' } }
                %i.fa.fa-times
              = button_tag type: 'submit', class: 'btn btn-primary' do
                %i.fa.fa-search
      
.panel-heading{ style: 'position: relative' }
  %h3 Download Log
.panel-body
  - if @downloads.count == 0
    %h4 No downloads found
  - else
    %table.table.table-bordered.table-striped.table-condensed.table-hover
      %thead
        %tr
          %th.col-sm-2 Date
          %th.col-sm-1 User IP
          %th.col-sm-3 File Name
          %th.col-sm-6 Record
      %tbody
        - @downloads.each do |download|
          %tr
            %td.col-sm-2
              = download.created_at
            %td.col-sm-1
              = download.try(:ipaddr)
            %td.col-sm-3
              = download.file_name
            %td.col-sm-6
              = link_to download.entry.title, catalog_entry_path(download.entry)
