<section id="services_new" class="services">
    <h1>First Time Login</h1>

    <div>
        <h3>gLynx Portal</h3>

        <p class="small">
            We recently updated our login system and we need to confirm that your account information is correct.  
        </p>
        
        <p class="small" style="margin-left: 5em;">
            <!-- Provider: <%= @authhash[:provider] %><br /> -->
            <!-- ID: <%= @authhash[:uid] %><br /> -->
            Name: <%= @authhash[:name] %><br />
            Email: <%= @authhash[:email] %> <br />
        </p>

        <p class="small">
            If this is not you <%= link_to "please click this link to logout from the GINA::ID system", 'http://id.gina.alaska.edu/logout' -%> and try again.

        </p>

        <%= form_tag :controller => "services", :action => "newaccount" do %>
            <%= submit_tag "Confirm and continue" %> <%= submit_tag "Cancel" %>
        <% end %>
    </div>
</section>