%ul.nav.nav-tabs
  %li.active
    %a{ href: '#use_agreement_form_fields', data: { toggle: 'tab' } } Use Agreement Form
  %li
    %a{ href: '#record_list', data: { toggle: 'tab' } } Record List
    
= bootstrap_form_for [:catalog, @use_agreement], label_errors: true, layout: :horizontal do |f|
  .tab-content{ style: 'margin-top: 5px;' }
    #use_agreement_form_fields.tab-pane.active
      = f.alert_message "Please fix the errors below.", error_summary: false
      = f.text_field :title, wrapper_class: 'required'
      = f.text_area :body, cols: 40, rows: 10, wrapper_class: 'required'
      
      = f.form_group do
        = f.check_box :required

    #record_list.tab-pane
      %p List of catalog records that are linked to this use agreement.
      = render 'use_agreements', use_agreement: @use_agreement 
           
    .form-action
      = link_to :back, class: 'btn btn-default' do
        %i.fa.fa-arrow-left
        Cancel
    
      .pull-right
        = f.primary