= simple_form_for(@cms_theme) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :css, label: false, input_html: { class: 'hidden' }
    = f.label :css
    .panel.panel-default{ data: { editor: 'ace', target: '#cms_theme_css', mode: 'scss' } }
      %ul.nav
        .btn-toolbar.navbar-btn{ style: 'padding-left: 5px;'}
          = render 'shared/ace/base_toolbar'
          = render 'shared/ace/css_toolbar'
      #content-editor.editor

  .form-actions.text-right
    = f.button :submit
