.panel.panel-default
  .panel-heading
    %h1.panel-title Themes
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th.text-right Actions
    %tbody
      - @cms_themes.each do |cms_theme|
        %tr
          %td
            = cms_theme.name
            - if current_portal.active_cms_theme == cms_theme
              .badge Active theme
          %td.text-right
            .btn-group.btn-group-sm
              - unless current_portal.active_cms_theme == cms_theme
                = link_to 'Activate', activate_cms_theme_path(cms_theme), method: :patch, class: 'btn btn-default'
              = link_to 'Edit', edit_cms_theme_path(cms_theme), class: 'btn btn-primary'
              = link_to 'Destroy', cms_theme, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

- content_for :sidebar_menu do
  = link_to new_cms_theme_path, class: 'list-group-item list-group-item-success' do
    %i.fa.fa-plus.fa-fw
    New theme

- content_for :help do
  .panel-body
    %span.help-block
      %p
        <b>Themes</b> are a collection of CSS code that determines how each page that uses the theme will look.  Here you can define various CSS classes and rules to create a unique look for the web site. Only one theme can be active at one time.
      %p
        Select the "<b>New theme</b>" button above to create a new theme.  Each theme must have a unique name.
