<p id="notice"><%= notice %></p>

<p>
  <strong>Portal:</strong>
  <%= @cms_theme.portal %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cms_theme.name %>
</p>

<p>
  <strong>Css:</strong>
  <%= @cms_theme.css %>
</p>

<%= link_to 'Edit', edit_cms_theme_path(@cms_theme) %> |
<%= link_to 'Back', cms_themes_path %>
