%table.table.table-bordered.table-striped.table-condensed{ id: 'download-table' }
  %tbody
    - if downloads.blank?
      %tr
        %td
          No downloads for this record.
    - else
      %tr
        %td
          = "#{download_count} Downloads"
      - downloads.each do |download|
        %tr
          %td
            %dl.dl-horizontal.download-logs
              .row
                .col-sm-6
                  .item
                    %dt Date: 
                    %dd= download.try(:created_at).try(:strftime, "%F %T") 
                  .item
                    %dt User: 
                    %dd= download.user.nil? ? 'Guest' : download.user.name
                  - if download.ipaddr
                    .item
                      %dt IP Address
                      %dd= download.ipaddr
                .col-sm-6
                  .item
                    %dt File:
                    %dd= download.file_name
