.row-fluid
  .span12
    %h4.pull-left
      - if controller.class.const_defined?(:PAGETITLE)
        .brand= "Catalog: #{controller.class::PAGETITLE}"
      - else
        .brand= "Catalog"
    %ul.nav.pull-right.nav-pills
      %li= link_to 'Data Records', manager_catalogs_path
      %li= link_to 'Collections', manager_catalog_collections_path
      %li= link_to 'Agencies', manager_agencies_path
      %li= link_to 'Contacts', manager_people_path
