.row-fluid
  .span12
    %h4.pull-left
      .brand= "Catalog: #{page_title}"
    %ul.nav.pull-right.nav-pills
      %li= link_to 'Data Records', manager_catalogs_path
      %li= link_to 'Collections', manager_collections_path
      %li= link_to 'Agencies', manager_agencies_path
      %li= link_to 'Contacts', manager_people_path
      %li= link_to 'Use Agreements', manager_use_agreements_path
