.row-fluid
  .span12
    %h4.pull-left
      - if controller.class.const_defined?(:PAGETITLE)
        .brand= "Catalog: #{controller.class::PAGETITLE}"
      - else
        .brand= "Catalog"
    %ul.nav.pull-right.nav-pills
      %li= link_to 'Home', manager_path
      %li= link_to 'Contact Info', manager_contact_infos_path
