.row-fluid
  .span12
    %h4.pull-left
      - if controller.class.const_defined?(:PAGETITLE)
        .brand= "Dashboard: #{controller.class::PAGETITLE}"
      - else
        .brand= "Dashboard"
    %ul.nav.pull-right.nav-pills
      %li= link_to 'Home', manager_path
      %li= link_to 'Download Contacts', manager_full_contact_path
      %li= link_to 'Download Log', manager_contact_infos_path
