.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    .brand= current_setup.title
    %ul.nav.pull-right
      %li
        = link_to 'View website', root_path
      - if current_member.access_cms?
        %li.dropdown
          %a{:href=>"#", :class=>"dropdown-toggle", "data-toggle"=>"dropdown"}
            CMS 
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Pages', manager_path
            %li= link_to 'Images', manager_images_path
            %li= link_to 'Feedback', manager_contacts_path
      - if current_member.access_catalog?
        %li.dropdown
          %a{:href=>"#", :class=>"dropdown-toggle", "data-toggle"=>"dropdown"}
            Catalog 
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Data Records', manager_catalogs_path
            %li= link_to 'Collections', manager_catalog_collections_path
            %li= link_to 'Agencies', manager_agencies_path
            %li= link_to 'Contacts', manager_people_path
      - if current_member.access_site_admin?
        %li.dropdown
          %a{:href=>"#", :class=>"dropdown-toggle", "data-toggle"=>"dropdown"}
            Settings 
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Members', manager_memberships_path
            %li= link_to 'Roles', manager_roles_path
            %li= link_to 'Users (ADMIN VIEW)', manager_users_path if current_user.is_an_admin?
      
      %li= link_to 'Invite more people!', new_manager_membership_path if current_member.can_invite_users?
      %li= link_to 'Logout', logout_path