#splash.row-fluid
  .span5
    %p.lead Compellingly engineer cooperative strategic theme areas before prospective paradigms. Assertively foster standards compliant process improvements after effective materials. Holisticly synthesize efficient potentialities after 24/7 technology. Appropriately synergize seamless infrastructures with global scenarios. Monotonectally revolutionize bleeding-edge expertise rather than multimedia based communities. 
    -# .buttons To enter Catalog: Visitors please click 'Guest' - Registered users please click 'Login'
  .span7
    #carousel.carousel.slide
      .carousel-inner
        - @setup.carousel_images.each do |image|
          .item{class: @setup.carousel_images.first == image ? 'active' : '' }
            = image_tag image.file.thumb('640x480#').url, alt: image.title
            .carousel-caption
              %h4= link_to_unless image.link_to_url.empty?, image.title, image.link_to_url
              %p= image.description
      %a.carousel-control.left{href:"#carousel", "data-slide"=>"prev"} &lsaquo;
      %a.carousel-control.right{href:"#carousel", "data-slide"=>"next"} &rsaquo;
%h2 News, Announcements and Events
%p.lead
  %strong Nov. 29th, 2012
  Proactively visualize competitive outsourcing rather than inexpensive applications. Energistically repurpose cross functional information whereas multimedia based leadership skills. Phosfluorescently coordinate virtual metrics whereas sticky quality vectors. Dramatically impact viral mindshare for functional ROI. Objectively myocardinate backward-compatible supply chains whereas clicks-and-mortar functionalities. 
.row-fluid
  .span4
    .left-well.well.well-small
      %h2 Data
      %p Search and download data
    %h4 Data Collections
    %ul.nav
      %li= link_to 'Search all data', search_path
      %li= link_to 'USGS Topo maps', '#'
      %li= link_to 'Administrative', '#'
      %li= link_to 'Cadastre', '#'
      %li= link_to 'Hydrography', '#'
      %li= link_to 'Control', '#'
      %li= link_to 'Social', '#'
      %li= link_to 'Oil and Gas Development', '#'
      %li= link_to 'Nautical Charts', '#'
      %li= link_to 'Most Popular', '#'
  .span4
    .center-well.well.well-small
      %h2 Maps
      %p View and create maps of popular data collections
    %h4 Maps and Visualizations
  .span4
    .right-well.well.well-small
      %h2 Partners
      %p View our partners
    %h4 Partners
    %ul.nav
      %li= link_to 'Geographic Information Network of Alaska (GINA)', 'http://www.gina.alaska.edu'
      %li= link_to 'Kenai Watershed', '#'
      %li= link_to 'Resilience and Adaptive Management Group', '#'
      %li= link_to 'Kenai Peninsula Borough', '#'
      %li= link_to 'USFWS - Kenai National Wildlife Refuge', '#'
      %li= link_to 'Alaska Department of Fish and Game', '#'
      %li= link_to 'USFS - Chugach National Forest', '#'
      %li= link_to 'U.S. National Park Service', '#'
/ = link_to catalogs_path, class: 'btn btn-primary btn-block' do
/ Click here to start exploring