.row-fluid
  .span12
    %h4 User Feedback
    #contacts.accordion
      - @contacts.each do |contact|
        .accordion-group
          .accordion-heading.h4
            .pull-right
              = link_to "Delete", manager_contact_path(contact), method: :delete, confirm: "Are you sure?", class: "btn btn-danger"
            .pull-right{style: "padding-right: 10px;"}
              %h5
                = "Sent On: #{contact.created_at.strftime("%c")}"
            = link_to "#{contact.name}", "#"+"#{contact.id}", class: 'accordion-toggle', data: { toggle: 'collapse', parent: '#contacts' }
          %div{id: [contact.id], class: "accordion-body collapse"}
            .accordion-inner
              .span12
                .well.well-small
                  = mail_to contact.email
                .well
                  = contact.message

