= bootstrap_nested_form_for [:admin, @portal] do |f|
  = f.alert_message "Please fix the errors below."

  = f.text_field :title, wrapper_class: 'required'

  .row
    .col-sm-6
      = f.text_field :acronym, wrapper_class: 'required'
    .col-sm-6
      = f.collection_select :parent_id, (Portal.active - @portal.self_and_descendants), :id, :title, prompt: 'Select a parent portal'

  .row
    .col-sm-12
      = f.link_to_add 'New url', :urls, data: { target: '#url-form-body' }, class: 'pull-right btn btn-success'
      %h3 Portal Urls

      %table.table.table-bordered.table-striped.table-condensed.form-inline
        %thead
          %tr
            %th.col-sm-3 URL
            %th.col-sm-2 Active?
            %th.col-sm-1.text-right Actions
        %tbody#url-form-body.nested-form-fields
          = f.fields_for :urls, wrapper: false

  .row
    .col-sm-12
      %h3 Portal Users
      .row
        .col-sm-10
          = text_field_tag :user_search, '', data: { name: 'users', target: '#add-selected-user', behavior: 'typeahead', query: api_users_path + '?query=%QUERY'.html_safe }, placeholder: 'Search for user to add *required*', class: 'form-control pull-left sr-only'
        .col-sm-2
          = f.link_to_add :permissions, :data => { :target => "#users_add" }, class: 'btn btn-success btn-block disabled col-sm-2', prompt: 'Select a user', id: 'add-selected-user' do
            %i.fa.fa-plus.fa-white
            Add user
      %table.table.table-bordered.table-striped.table-condensed
        %thead
          %tr
            %th.col-sm-2 User
            %th.col-sm-4 Permissions
            %th.col-sm-1.text-right Actions
        %tbody#users_add.nested-form-fields
          = f.fields_for :permissions, wrapper: false

  .form-action
    = link_to :back, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel

    .pull-right
      = f.primary
