%tr.fields
  %td
    = f.hidden_field :id
    = f.hidden_field :user_id, class: 'user_id'
    .name= f.object.user.try(:name)
  %td
    = f.form_group label: { text: 'Permissions' } do
      - Permission::AVAILABLE_ROLES.each do |role, description|
        = f.check_box role, label: "#{role.to_s.humanize} - #{description}", class: 'role'
  %td.text-right
    = f.link_to_remove('<i class="fa fa-times"></i>'.html_safe, class: 'btn btn-small btn-danger')