.panel.panel-default
  .panel-heading{ style: 'position: relative' }
    - if can?(:manage, Portal)
      .pull-right
        = link_to entries_admin_portal_path(@portal), method: :post, confirm: "Are you sure?", class: 'btn btn-sm btn-danger', style: 'margin-right: 10px;' do
          Delete All Records
        = link_to edit_admin_portal_path(@portal), class: 'btn btn-sm btn-primary' do
          Edit Portal
    %ol.breadcrumb
      %li
        = link_to admin_portals_path do
          %i.fa.fa-sitemap
          Portals
      %li.active
        = @portal.title

  .panel-body
    .row
      .col-sm-6
        %dl.dl-horizontal
          %dt Title
          %dd=ddtext @portal.try(:title)
        %dl.dl-horizontal
          %dt Acronym
          %dd=ddtext @portal.acronym
      .col-sm-6
        %dl.dl-horizontal
          %dt Parent Portal
          %dd=ddtext @portal.parent.try(:title)
        %dl.dl-horizontal
          %dt Contact Email
          %dd=ddtext @portal.contact_email
      .col-sm-6
        %dl.dl-horizontal
          %dt By Line
          %dd=ddtext @portal.by_line
      .col-sm-6
        %dl.dl-horizontal
          %dt Google Analytics
          %dd=ddtext @portal.analytics_account

    .row
      .col-sm-12
        %table.table.table-striped
          %thead
            %th.col-sm-6
              Portal URLs
            %th
              Default
          - @portal.urls.each do |url|
            = render 'portal_url', url: url

    .row
      .col-sm-12
        %table.table.table-striped
          %thead
            %th.col-sm-6
              Portal Users
            %th
              Permissions
          - @portal.users.each do |user|
            = render 'user', user: user, portal: @portal
