- projections = [["Alaskan Albers","EPSG:3338"],["Polar", "EPSG:3572"],["Web Mercator", "EPSG:3857"]]
- location_projections = [["Alaskan Albers","EPSG:3338"],["Polar", "EPSG:3572"]]
= simple_form_for @portal, url: manager_portal_path, wrapper: :horizontal_form, html: { multipart: true } do |f|
  - if @portal.errors.any?
    #error_explanation.alert.alert-error
      %h4
        = pluralize(@portal.errors.count, "error")
        prohibited this portal from being saved:
      %ul
        - @portal.errors.full_messages.each do |msg|
          %li= msg
          
  %ul.nav.nav-tabs{ style: 'padding-left: 10px; margin-bottom: 3px;' }
    %li.active
      %a{ href: '#setup_information', data: { toggle: 'tab' } } Site Information
    %li
      %a{ href: '#maps', data: { toggle: 'tab' } } Map Projections
    %li
      %a{ href: '#social', data: { toggle: 'tab' } } Social Links
    %li
      %a{ href: '#favicon', data: { toggle: 'tab' } } Favicon

  .tab-content.content
    #setup_information.tab-pane.active
      = f.input :title
      = f.input :acronym
      = f.input :by_line
      = f.input :contact_email
      //    = f.text_area :default_invite, rows: 4, cols: 40
      = f.input :analytics_account, label: "Google analytics"
      //    = f.check_box :use_recaptcha, {}, "true", "false"
      = f.input :description
      //    = f.text_field :keywords

    #maps.tab-pane
      //    = f.select :projection, options_for_select(projections, @current_setup.projection), class: 'span12'
      //    = f.select :record_projection, options_for_select(projections, @current_setup.record_projection), { include_blank: true }
      //    = f.select :location_projection, options_for_select(location_projections, @current_setup.location_projection)
      //    = f.check_box :google_layers, {}, "true", "false"

    #social.tab-pane
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th.col-sm-3 Site
            %th URL
            %th Valid URL
        = f.fields_for :social_networks do |network|
          %tr.fields
            %td
              %i.fa.fa-fw.fa-2x{ class: "#{network.object.icon}" }
              %label.hidden-xs #{network.object.name}
            %td
              = network.hidden_field :id
              = network.hidden_field :social_network_config_id
              = network.text_field :url, hide_label: true, layout: :default
            %td
              = network.object.valid_url ? "Yes" : "No" unless network.object.url.blank?

    #favicon.tab-pane
      #logo.tab-pane
        .fileinput{ style: 'display:block;', class: (f.object.favicon.new_record? ? 'fileinput-new' : 'fileinput-exists'), data: { provides: 'fileinput' } }
          .row
            .col-sm-10
              .fileinput-new.thumbnail
                %img{ src: 'holder.js/200x200', style: 'width: 200px; height: 200px;' }
              .fileinput-preview.thumbnail.fileinput-exists{ style: 'max-width:200px; max-height:200px;' }
                = image_tag @portal.favicon.image.encode(:png).thumb('200x200').url if @portal.favicon.image
            .col-sm-2.text-right
              = f.fields_for :favicon do |attachment|
                = attachment.hidden_field :_destroy, value: 0
                %span.btn.btn-file.btn-success.btn-block
                  %span.fileinput-new Add Favicon
                  %span.fileinput-exists Change Favicon
                  = attachment.input_field :image, as: :file
                %a.btn.btn-danger.btn-block.fileinput-exists{href: "#", data: { dismiss: "fileinput" }} Remove
        %p Note:  It's recommended to use .png or .jpg images for the favicon.

  .form-actions.action-space
    = link_to manager_portal_path, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel
    = f.button :submit, class: 'btn btn-primary pull-right'

:javascript
  $('[data-dismiss="fileinput"]').on('click', function() {
    $('#portal_favicon_attributes__destroy').val(1);
  })
  $('#portal_favicon_attributes_image').on('change', function() {
    if ($(this).val() != '') {
      $('#portal_favicon_attributes__destroy').val(0);
    }
  })
