= render_cms_content(@page, current_setup) do
  = form_for(@contact, html: { class: ''}) do |f|
    - unless @contact.errors.empty?
      .alert.alert-error
        %h4 There was an error while trying to send your feedback
        %ul
          - @contact.errors.full_messages.each do |msg|
            %li= msg
    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, class: "span12"
    .control-group
      =f.label :email, class: 'control-label'
      .controls
        = f.text_field :email, class: "span12"
    .control-group
      =f.label :message, class: 'control-label'
      .controls
        = f.text_area :message, {rows: 4, cols: 80, class: "span12"}
    - if current_setup.use_recaptcha
      .control-group
        .controls
          = recaptcha_tags(public_key: current_setup.recaptcha_public).html_safe
    = submit_tag "Send Message", type: 'submit', class: "btn btn-primary pull-right"