.row-fluid
  .span12
    = f.label :source_agency_id, 'Primary Agency', class: 'control-label'
    = f.collection_select :source_agency_id, current_setup.agencies.order('name ASC'), :id, :name_with_acronym, {include_blank: true}, { class: 'span12' }

    = f.label :funding_agency_id, class: 'control-label'
    = f.collection_select :funding_agency_id, current_setup.agencies.order('name ASC'), :id, :name_with_acronym, {include_blank: true}, { class: 'span12' }

    = f.label :agency_ids, 'Other Agencies', class: 'control-label'
    = f.collection_select :agency_ids, current_setup.agencies.order('name ASC'), :id, :name_with_acronym, {}, { multiple: true, class: 'span12' }
    
    :javascript
      $('##{@catalog.class.to_s.downcase}_source_agency_id').select2({placeholder: 'Select a source agency', allowClear: true, width: 'copy'});
      $('##{@catalog.class.to_s.downcase}_funding_agency_id').select2({placeholder: 'Select a funding source agency', allowClear: true, width: 'copy'});
      $('##{@catalog.class.to_s.downcase}_agency_ids').select2({ width: 'copy' });
