- if @catalog.repo.nil?
  %table.table.table-bordered.tabled-stripped.table-condensed
    %tr
      %th Name
      %th URL
      %th.actions Actions
    = f.fields_for :download_urls do |d|
      %tr
        %td
          = d.text_field :name, class: 'span3'
        %td
          = d.text_field :url, class: 'span6'
        %td
          = d.hidden_field :id
          - unless d.object.new_record?
            = link_to secure_datum_path(d.object.uuid), class: 'btn' do
              %i.icon-share
            = link_to '#', method: :DELETE, confirm: 'Are you sure?', class: 'btn btn-danger' do
              %i.icon-trash.icon-white
  .clearfix
    = link_to '#', class: 'btn btn-success pull-right' do
      %i.icon-plus.icon-white
      Add download url
  