#catalog-form.tabbable.tabs-left
  %ul.nav.nav-tabs
    - sections = %w{ general contacts agencies tags links locations map_layers sds downloads }
    - sections.each do |section|
      %li{class: (section == sections.first ? 'active' : '')}
        = link_to section.humanize, "##{section}", data: { toggle: 'tab' }
  = nested_form_for [:manager, @catalog], html: { class: 'form' } do |f|
    .tab-content{ style: 'min-height: 200px;'}      
      - unless @catalog.errors.full_messages.empty?
        .alert.alert-error{ style: 'margin: 5px;' }
          %a{ href:"#", class:"close", data: { dismiss:"alert" } }
            &times;
          %h4 Errors prevents this record from being saved
          %ul
            - @catalog.errors.full_messages.each do |err|
              %li= err
      #general.tab-pane.active
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left General Information      
        .content= render 'general_fields', f: f
        
      #contacts.tab-pane
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left Contact Information      
        .content= render 'contact_fields', f: f
    
      #agencies.tab-pane
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left Agency Information      
        .content= render 'agency_fields', f: f
    
      #tags.tab-pane
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left Tags and Collections
        .content= render 'tag_fields', f: f

      #links.tab-pane
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left Links
            = f.link_to_add :links, :data => { :target => "#link_fields" }, class: "btn btn-success pull-right" do
              %i.icon-plus.icon-white
              Add a Link
        .content
          .header.row-fluid
            .span2 Category
            .span4 Display Text
            .span4 URL
            .span2.actions Actions
          #link_fields.fields
            = f.fields_for :links
    
      #locations.tab-pane
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left Locations
            = f.link_to_add :locations, :data => { :target => "#location_fields" }, class: "btn btn-success pull-right" do
              %i.icon-plus.icon-white
              Add a Location
        .content
          .header.row-fluid
            .span4 Name
            .span6 WKT
            .span2.actions Actions
          #location_fields.fields
            = f.fields_for :locations
            
      #map_layers.tab-pane
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left Map layers
            = link_to new_manager_catalog_map_layer_path(@catalog), class: 'btn btn-success pull-right', remote: true do
              %i.icon-plus
              Add map layer
        .fields
          = render '/manager/map_layers/list', map_layers: @catalog.map_layers
          
      #sds.tab-pane
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left Secure Data Services      
        .content= render 'sds_fields', f: f
      
      #downloads.tab-pane
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left Local Downloads
            = f.link_to_add :uploads, :data => { :target => "#upload_fields" }, class: "btn btn-success pull-right" do
              %i.icon-plus.icon-white
              Upload new file
        .content
          .header.row-fluid
            .span10 File
            .span2.actions Actions
          #upload_fields.fields
            = f.fields_for :uploads
                  
        .navbar.navbar-static-top
          .navbar-inner
            .navbar-text.pull-left Remote Download Urls
            = f.link_to_add :download_urls, :data => { :target => "#download_fields" }, class: "btn btn-success pull-right" do
              %i.icon-plus.icon-white
              Add Download URL
        .content
          .header.row-fluid
            .span4 Name
            .span6 URL
            .span2.actions Actions
          #download_fields.fields
            = f.fields_for :download_urls
            
      .form-actions
        = link_to @back_path, class: 'btn btn-inverse' do
          %i.icon-arrow-left.icon-white
          Back
    
        = f.submit "Save Record", class: 'btn btn-primary pull-right'
      
#location_editor.modal.hide.fade
  .modal-header
    %button.close{ type: 'button', data: { dismiss: 'modal' } } &times;
    %h3 Location Editor
  #map.modal-body{ style: 'position: relative; padding: 0; height:400px;', data: { map: 'EditorMap', target: '#map_canvas' } }
    .navbar.navbar-static-top
      .navbar-inner
        .btn-group
          %button.btn{ data: { "openlayers-action" => 'draw', type: 'point' } }
            %i.icon-map-marker
            Point
          %button.btn{ data: { "openlayers-action" => 'draw', type: 'line' } }
            %i.icon-minus
            Line
          %button.btn{ data: { "openlayers-action" => 'draw', type: 'polygon' } }
            %i.icon-star-empty
            Polygon
        .btn-group
          %button.btn{ data: { "openlayers-action" => 'clear' } }
            %i.icon-eraser
            Clear
          %button.btn{ data: { "openlayers-action" => 'reset' } }
            %i.icon-undo
            Reset  
        .btn-group.pull-right
          %button#edit-help.btn{ data: { title: '<nobr>Location editor help</nobr>', content: '<p>Clicking on "Polygon", "Line", or "Point" buttons will clear the current shape, then click in the map to start draw the desired shape.</p><p>For lines and polygons double-click the last point to end drawing or click the edit button again.</p>', placement: 'bottom', html: 'true', container: 'body' } }
            %i.icon-question
            Help
    - map_projection = current_setup.location_projection || current_setup.projection
    #map_canvas{style: "width:100%; height: 359px;", data: { projection: map_projection, displayProjection: 'EPSG:4326', layers: "TILE.#{map_projection}.*" } }
  .modal-footer
    = link_to '#', class: 'btn', data: { dismiss: 'modal' } do
      Cancel
    = link_to '#', class: 'btn btn-primary', data: { 'openlayers-action' => 'update-location' } do
      Update location
    

/ refresh because of select2 moving things around on the page
:javascript
  var formChanged = false;

  $(document).on('map_layers:refresh', function() {
    $.get('#{manager_catalog_map_layers_path(@catalog)}').done(function(data) {
      $('#map_layers .fields').html(data);
      formChanged = true;
    })
  });
  
  $(document).ready(function() {
    var mapwrap = $('[data-map="EditorMap"]')
    var map = new EditorMap(mapwrap.data('target'));
  
    // $('[data-spy="scroll"]').each(function() {
    //   $(this).delay(500).scrollspy('refresh');
    // });
    
    var input, feature, active_draw_button;
    // var catalog_map = $('#map').data('map');
    // var map = catalog_map.map;
    
    $('#location_editor').on('shown', function() {
      map.resize();
    });
    
    $(document).on('click', '[data-openlayers-action="edit-location"]', function(evt) {
      evt.preventDefault();
      
      input = $($(this).data('target'));
      var feature = map.addFeature($(input).val());      
      $('#location_editor').modal('show');
    });
    
    $(document).on('click', '.btn[data-openlayers-action="update-location"]', function(evt) {
      evt.preventDefault();
      input.val(map.getWKT());      
      $('#location_editor').modal('hide');
    });
    
    $('#edit-help').popover();

    $('.form').change(function() {
      formChanged = true;
    })

    $('.form').submit(function() {
      formChanged = false;
    })

    $(window).bind('beforeunload', function() {
      if (formChanged) {
        return('There are unsaved changes, you will loose these changes if you leave the page!');
      }
    })
  })
  
