.row-fluid
  .span12
    = f.label :title
    = f.text_field :title, class: 'span12'

.row-fluid
  .span12
    = f.label :description
    = f.text_area :description, rows: 10, class: 'span12'    
.row-fluid
  .span6
    .control-group
      = f.label :start_date, class: 'control-label'
      .controls
        = f.text_field :start_date, data: {behaviour: 'datepicker', date_format: 'yyyy-mm-dd'}, value: @catalog.start_date.nil? ? "" : @catalog.start_date.to_date
    .control-group
      = f.label :end_date, class: 'control-label'
      .controls
        = f.text_field :end_date, data: {behaviour: 'datepicker', date_format: 'yyyy-mm-dd'}, value: @catalog.end_date.nil? ? "" : @catalog.end_date.to_date
  .span6
    .control-group
      = f.label :status, class: 'control-label'
      .controls
        = f.select :status, @catalog.class::STATUSES, { selected: @catalog.status, prompt: 'Please select a status' }
    .control-group
      = f.label :owner_id, class: 'control-label'
      .controls
        = f.collection_select :owner_id, User.order('first_name ASC').all, :id, :fullname, { selected: @catalog.owner_id || current_user.id }
    .control-group
      = f.label :type, class: 'control-label'
      .controls
        = f.select :type, [['Project', 'Project'], ['Data','Asset']], { selected: @catalog.type, prompt: 'Select a record type' }

:javascript
  $(document).ready( function(){
    $('[data-behaviour~=datepicker]').datepicker()
  })
