.row-fluid
  .span12
    = f.label :tags, class: 'control-label'
    = f.text_field :tags, value: @catalog.tags.map(&:text).join(','), class: 'span12'
    
    = f.label :geokeywords, class: 'control-label'
    = f.select :geokeywords, options_from_collection_for_select(Geokeyword.all, :id, :name, @catalog.geokeywords.map(&:id)), {}, multiple: true, class: 'span12'
    
    = f.label :iso_topics, class: 'control-label'
    = f.select :iso_topics, iso_topic_options(@catalog), {}, multiple: true, class: 'span12'
    
    = f.label :data_types, class: 'control-label'
    = f.select :data_types, options_from_collection_for_select(DataType.all, :id, :name, @catalog.data_types.map(&:id)), { include_blank: true },  multiple: true, class: 'span12'
    
:javascript
  $('##{@catalog.class.to_s.downcase}_tags').select2({ tags: #{Tag.order('text ASC').all.map(&:text).to_json} });
  $('##{@catalog.class.to_s.downcase}_geokeywords').select2();
  $('##{@catalog.class.to_s.downcase}_iso_topics').select2();  
  $('##{@catalog.class.to_s.downcase}_data_types').select2({ allowClear: true, placeholder: "Select one or more data types" });  