= f.hidden_field :retained_file
= f.hidden_field :exists, value: !f.object.new_record?
.row-fluid
  .span4
    .fileupload.fileupload-new{data:{provides:'fileupload'}}
      - if f.object.new_record?
        .fileupload-preview
        %span.btn.btn-file
          %span.fileupload-new
            Select file
          %span.fileupload-exists Change
          = f.file_field :file
        %a.btn.fileupload-exists{href:'#',data:{dismiss:'fileupload'}} Reset
      - else
        = "#{f.object.file.name} (#{number_to_human_size f.object.file.size})"
  .span3
    = f.text_field :description, class: "span12"
  .span2
    %label.checkbox
      = f.check_box :downloadable, {}, 'true', 'false'
      Downloadable
  .span2
    %label.checkbox
      = f.check_box :preview, {}, 'true', 'false'
      Record Preview
  .span1.actions
    = link_to_remove_fields '<i class="icon-trash icon-white"></i>'.html_safe, f
  