%table.table.table-striped.table-condensed#catalog-items
  %thead
    %tr
      %td{colspan:10}
        .search.clearfix{ style: "margin-bottom: 5px;" }
          = render 'search'
        .toolbar
          = render 'toolbar'
    %tr
      %th{style:'width:25px;'}
      %th Title
      %th Type
      %th Status
      %th Start year
      %th End year
      %th Source agency
      %th Editable?
      %th Published?
      %th
        %span{title: "Number of Downloads"}
          DLs
  %tbody.results
    - @catalogs.each do |item|
      %tr{data: { toggle: 'collapse', target: "#row_#{dom_id(item)}" }}
        %td{style:"text-align:center; padding:0;"}
          %label{for: "coll_check_#{item.id}", style: "display:block; min-height:50px;"}
            = check_box_tag "coll_check[#{item.id}]", item.id, nil, class: 'item-checkbox'
        
        %td
          = link_to item.title.truncate(150).humanize, [:manager, item]
          .collapse{id: "row_#{dom_id(item)}"}
            %small
              %dl.dl-horizontal
                - unless item.short_description.nil?
                  %dt Description:
                  %dd= item.short_description.try(:humanize)
                - if item.tags.size > 0
                  %dt Tags:
                  %dd= item.tags.list
                - if item.collections.size > 0
                  %dt Collections:
                  %dd= item.collections.list
                - if item.primary_contact
                  %dt Primary Contact:
                  %dd= item.primary_contact
        %td= item.type == 'Project' ? 'Project' : 'Data'
        %td= item.status.try(:humanize)
        %td= item.start_date.try(:year)
        %td= item.end_date.try(:year)
        %td
          %abbr{ title: item.source_agency.try(:name) }= item.source_agency
        %td
          -if item.owner_setup.nil?
            Udef
          -else
            - if item.owner_setup == current_setup 
              Yes
            - else
              %abbr{ title: "This record is shared from the #{item.owner_setup.try(:title)} portal"} No
        %td
          - if item.published_at.nil?
            No
          - else
            Yes
        %td=item.contact_infos.count

.center-paging
  .btn-group
    = link_to_first_page @catalogs, params: { search: @search }, class: 'btn' do
      %i.icon-double-angle-left
    = link_to_prev_page @catalogs, params: {search: @search}, class: 'btn' do
      %i.icon-angle-left
    %button.btn
      %span= display_result_info(@catalogs, @page, @limit, @total)
    = link_to_next_page @catalogs, params: {search: @search}, class: 'btn' do
      %i.icon-angle-right
    = link_to_last_page @catalogs, params: { search: @search }, class: 'btn' do
      %i.icon-double-angle-right

:javascript
  $(document).ready(function() {
    $('[data-action="toggle-checkbox"]').on('click', function() {
      $($(this).data('target')).attr("checked", function() {
        $(this).prop("checked", !$(this).attr("checked"));
      });
    });
    
    $('[data-action="button-toggle"]').on('click', function(evt) {
      if( $(this).attr('data-toggle') == 'button' ) {
        evt.stopPropagation();
        var target = $(this).data('target');
        $(this).toggleClass('active');
      
        if( $(this).hasClass('active') ) {
          $(target).val('true');
        } else {
          $(target).val('false');
        }
        $(target).parents('form').submit();
      }
    });
  })

  function CollToggle(coll_id) {  
    check_list = [];
    $('input:checkbox:checked').each( function(index,item) {
      check_list.push($(item).val());
    });
    
    $.ajax({
      url: "#{manager_collections_path}/" + coll_id + '/add',
      type: 'PUT',
      data: {
        "catalog_ids[]": check_list
      },
      complete: function(){
        location.reload();
      }
    });
  };
