.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      %li
        = link_to manager_catalogs_path do
          %i.icon-arrow-left
          Back
    .btn-group.pull-right
      = link_to edit_manager_catalog_path(@catalog), class: 'btn' do
        %i.icon-edit
        Edit
      
      -if current_member.can_publish_catalog?
        = link_to 'Publish', publish_manager_catalog_path(@catalog), method: :put, class: 'btn' unless @catalog.published?
      
        = link_to 'Un-Publish', unpublish_manager_catalog_path(@catalog), method: :put, class: 'btn' if @catalog.published?
      
      = link_to manager_catalog_path(@catalog), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do
        %i.icon-trash
        Delete
    
= render '/shared/catalogs/catalog', catalog: @catalog