.row-fluid
  .span12
    = f.label :primary_contact_id, class: 'control-label'
    = f.select :primary_contact_id, options_from_collection_for_select(Person.all, :id, :full_name, @catalog.primary_contact_id), {}, class: 'span12'
      
    = f.label :person_ids, 'Other Contacts', class: 'control-label'
    = f.select :person_ids, options_from_collection_for_select(Person.all, :id, :full_name, @catalog.person_ids), {}, multiple: true, class: 'span12'
    :javascript
      $("##{@catalog.class.to_s.downcase}_primary_contact_id").select2();
      $("##{@catalog.class.to_s.downcase}_person_ids").select2();