.navbar.navbar-static-top
  .navbar-inner
    = form_tag manager_data_path, method: 'GET', class: 'navbar-form form-search' do
      .input-append
        = text_field_tag 'search[q]', @search[:q], class: 'search-query span8', placeholder: "Search"
        = submit_tag 'Search', class: 'btn btn-primary'
        
      = link_to new_manager_datum_path, class: 'btn btn-success pull-right' do
        %i.icon-plus.icon-white
        New Record

%br/
%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th Title
      %th Type
      %th Status
      %th Start year
      %th End year
      %th Source agency
      %th Primary contact
      %th Long Term
  %tbody
    - @catalogs.each do |item|
      %tr
        %td
          = link_to item.title.truncate(70), manager_datum_path(item)
          %br/
          %small.muted= item.description.try(:truncate, 180)
        %td= item.type.humanize
        %td= item.status.try(:humanize)
        %td= item.start_date.try(:year)
        %td= item.end_date.try(:year)
        %td= item.source_agency
        %td= item.primary_contact
        %td= item.long_term_monitoring ? 'Yes' : 'No'

= paginate @catalogs
