.project
  .title= @item.title

  - unless @item.published?
    .not-published
      %h2 This project is pending review by the system moderators
      %p After a moderator has reviewd the project, it will become available for public viewing
    .spacer

  - if @item.published? or @item.owner == current_user or current_user.is_an_admin?
    .description.tabbed= raw RDiscount.new(@item.description).to_html
    .spacer

    .status.tabbed
      %label Status:
      = @item.status

    -#- unless @item.year_funded.nil?
    -#  .funded.tabbed
    -#    %label Year Funded:
    -#    = @item.year_funded
    - unless @item.start_date.nil?
      .start_date.tabbed
        %label Start Date:
        = @item.start_date.strftime('%Y/%m/%d')
    - unless @item.end_date.nil?
      .end_date.tabbed
        %label End Date:
        = @item.end_date.strftime('%Y/%m/%d')

    .spacer

    - unless @item.primary_contact.nil?
      .primary_contact.tabbed
        %label Primary Contact:
        = render @item.primary_contact
      .spacer

    - unless @item.people.nil? or @item.people.empty?
      .other_contacts.tabbed
        %label Other Contacts:
        = render @item.people
      .spacer

    - unless @item.source_agency.nil?
      .source_agency.tabbed
        %label Primary Agency:
        = @item.source_agency.name

    - unless @item.funding_agency.nil?
      .funding_agency.tabbed
        %label Funding Agency:
        = @item.funding_agency.name

    .agencies.tabbed
      %label Other Agencies:
      = @item.agencies.collect(&:acronym).compact.join(', ')

    .spacer

    - unless @item.locations.nil? or @item.locations.empty?
      .locations.tabbed
        %label Locations:
        = @item.locations.collect(&:name).compact.join(', ')

    .spacer

    -#.gcmd_themes.tabbed
    -#  %label GCMD Themes:
    -#  = @item.gcmd_themes.collect(&:name).compact.join(', ')
    -#.spacer

    .tags.tabbed
      %label Tags:
      = @item.tags.list
      .spacer

    - unless @item.repo.empty?
      .tabbed
        %label Download Link:
        = link_to catalog_url(@item, :format => 'tar.gz'), catalog_url(@item, :format => 'tar.gz'), :target => :_blank
        .spacer

    - unless @item.links.nil? or  @item.links.empty?
      .links.tabbed
        %label Links:
        %ul= render @item.links
      .spacer

    -#- unless @item.note.nil? or @item.note.text.empty?
    -#  .notes.tabbed
    -#    %label Notes:
    -#    = raw RDiscount.new(@item.note.text).to_html
    -#  .spacer

    .project_info_source.tabbed
      %label Project Information Source:
      .organization.tabbed
        %label Organization:
        = @item.data_source.name
      .website.tabbed
        %label Website:
        = link_to @item.source_url, @item.source_url, :target => :_blank