%b Primary Organization: 
-if item.primary_organizations.blank?
  ="none"
-else
  = item.primary_organizations.collect{|org| "#{org.name} (#{org.acronym})"}.join(', ')
%br/
%b Funding Organization: 
-if item.funding_organizations.blank?
  ="none; "
-else
  = item.funding_organizations.collect{|org| "#{org.name} (#{org.acronym})"}.join(', ')
%b Other Organization(s):
-if !item.other_organizations.blank?
  = item.other_organizations.collect{|org| "#{org.name} (#{org.acronym})"}.join(', ')
-else
  ="none"
