= nested_form_for [:admin, setup], html: { class: 'form-horizontal' } do |f|
  - if setup.errors.any?
    #error_explanation.alert.alert-error
      %h4
        = pluralize(setup.errors.count, "error")
        prohibited this setup from being saved:
      %ul
        - setup.errors.full_messages.each do |msg|
          %li= msg
          
  %fieldset
    %legend Site Config
    .control-group
      = f.label :title, class: 'control-label'
      .controls
        = f.text_field :title, class: 'span9'

    .control-group
      = f.label :by_line, class: 'control-label'
      .controls
        = f.text_field :by_line, class: 'span9'
    
    .control-group
      = f.label :parent_id, 'Parent site', class: 'control-label'
      .controls
        = f.select :parent_id, nested_set_options(Setup, setup) { |i| "#{'-' * i.level} #{i.title}" }, { include_blank: true, prompt: 'Select a parent site' }

    - if setup.new_record?
      .control-group
        = f.label :clone, 'Template setup', class: 'control-label'
        .controls
          = f.select :clone, nested_set_options(Setup, setup) { |i| "#{'-' * i.level} #{i.title}" }, { prompt: 'Copy from?' }
  %fieldset
    %legend 
      Site Domains
      = f.link_to_add "Add Domain", :urls, :data => { :target => "#url_fields" }, class: "btn btn-success pull-right"
    #url_fields
      = f.fields_for :urls

  .form-actions
    = link_to admin_setups_path, class: 'btn' do
      %i.icon-arrow-left
      Back
    = f.submit class: 'btn btn-primary pull-right'