.row-fluid.url-fields
  .span8
    = f.label :url, "URL ", class: 'control-label'
    .controls
      = f.text_field :url, class: 'span12'
  .span2
    %label.checkbox
      = "Default"
      = f.check_box :default
  .span2
    = f.link_to_remove "Delete", class: 'btn btn-danger'