#advanced.accordion
  .accordion-group{ data: { title: "Advanced Filtering", content: "Add additional filters to search.", trigger: "hover", toggle: "popover", placement: "top", container: "#advanced" }}
    .accordion-heading.h4
      = link_to '#options', class: 'accordion-toggle', data: { toggle: 'collapse', parent: '#advanced' } do
        %i.icon-chevron-down
        Advanced Filters
        
    #options.accordion-body.collapse{ class: @is_advanced ? 'in' : '' }
      .accordion-inner{style:'margin-bottom: 10px; padding: 5px 5px 25px 5px;'}
        = label_tag 'search[type]', 'Record Type'
        = select_tag 'search[type]', options_for_select([['Projects', 'Project'], ['Data', 'Data']], search_params[:type]), class: 'span12', 
          data: {placeholder: 'Projects and Data', ui: 'select2' }, include_blank: true

        = label_tag 'search[data_types]', 'Data Type'
        = select_tag 'search[data_types]', options_from_collection_for_select(DataType.all, :name, :name, search_params[:data_types]), class: 'span12',
          data: {placeholder: 'All types', ui: 'select2'}, include_blank: true

        = label_tag 'search[status]', 'Status'
        = select_tag 'search[status]', options_for_select(Project::STATUSES + Asset::STATUSES, search_params[:status]), class: 'span12', 
          data: {placeholder: 'Any', ui: 'select2'}, include_blank: true

        .span12{ style: "margin-left: 0" }
          .span6
            = label_tag 'search[start_date_before]', 'Starts before'
            = number_field_tag 'search[start_date_before]', search_params[:start_date_before], min: 1900, max: Time.zone.now.year, class: 'span12', placeholder: 'YYYY'
            
          .span6
            = label_tag 'search[start_date_after]', 'Starts after'
            = number_field_tag 'search[start_date_after]', search_params[:start_date_after], min: 1900, max: Time.zone.now.year, class: 'span12', placeholder: 'YYYY'
            
        .span12{ style: "margin-left: 0" }
          .span6
            = label_tag 'search[end_date_before]', 'Ends before'
            = number_field_tag 'search[end_date_before]', search_params[:end_date_before], min: 1900, max: Time.zone.now.year, class: 'span12', placeholder: 'YYYY'
            
          .span6
            = label_tag 'search[end_date_after]', 'Ends after'
            = number_field_tag 'search[end_date_after]', search_params[:end_date_after], min: 1900, max: Time.zone.now.year, class: 'span12', placeholder: 'YYYY'
            
        = label_tag 'search[iso_topic_ids]', 'ISO Topics'
        = select_tag 'search[iso_topic_ids]', options_from_collection_for_select(IsoTopic.all, :id, :long_name_with_code, search_params[:iso_topic_ids]), class: 'span12',
          data: {placeholder: 'All types', ui: 'select2'}, include_blank: true

        = label_tag 'search[region]', 'Region'
        = select_tag 'search[region]', options_from_collection_for_select(Geokeyword.all, :name, :name, search_params[:region]), class: 'span12', 
          data: {placeholder: 'All regions', ui: 'select2'}, include_blank: true

        =label_tag 'search[source_agency_id]', 'Primary Agency'
        = collection_select_for_agencies('search[source_agency_id]', search_params[:source_agency_id], false) 

        =label_tag 'search[funding_agency_id]', 'Funding Agency'
        = collection_select_for_agencies('search[funding_agency_id]', search_params[:funding_agency_id], false) 
        
        =label_tag 'search[agency_ids]', 'Other Agencies'
        = collection_select_for_agencies('search[agency_ids]', search_params[:agency_ids], true) 

        =label_tag 'search[agency_types]', 'Agency Type'
        =select_tag 'search[agency_types]', options_for_select(Agency::CATEGORIES, search_params[:agency_types]), class: 'span12', data: {placeholder: 'All Agency Types', ui: 'select2'}, :include_blank => true
        
        =label_tag 'search[primary_contact_id]', 'Primary Contact'
        =select_tag 'search[primary_contact_id]', options_from_collection_for_select(current_setup.persons.order(:last_name), :id, :contact_string, search_params[:primary_contact_id]),
          class: 'span12', data: {placeholder: 'All Contacts', ui: 'select2'}, :include_blank => true 
        =label_tag 'search[contact_ids]', 'Contacts'
        =select_tag 'search[contact_ids]', options_from_collection_for_select(current_setup.persons.order(:last_name), :id, :contact_string, search_params[:contact_ids]), multiple: true,
          class: 'span12', data: {placeholder: 'All Contacts', ui: 'select2'}
      .form-actions{style:'margin-bottom: 0;'}
        = submit_tag 'Apply', class: 'btn btn-primary pull-right', data: { title: "Apply Filters", content: "Do another search with the chosen filters applied.", toggle: "popover", trigger: "hover", placement: "right", container: "body" }
