= hidden_field_tag 'search[collection_id]', @search_params[:collection_id], id: "search_collection_id"
= hidden_field_tag 'search[tags]', @search_params[:tags], id: "search_tags"
= hidden_field_tag 'limit', @limit, id: 'limit'
= hidden_field_tag 'search[bbox]', @search_params[:bbox], id: "search_aoi"
= hidden_field_tag 'search[field]', @sort, id: "sort"
= hidden_field_tag 'search[direction]', @sort_dir, id: "sort_dir"

.input-append.span10
  = text_field_tag 'search[q]', @search_params[:q], placeholder: 'Enter keyword search', class: 'span12'
  = link_to "#", class: "btn", id: "clear-search" do 
    %i.icon-remove

:javascript
  $("#clear-search").on('click', function(e) {
    e.preventDefault();
    $("#search_q").val("");
  })
