//%label Collections
#collection_accordion.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ data: { toggle: "collapse", parent: "#collection_accordion"}, href: "##{dom_id(current_setup, "collection_collapse")}" }
        %i.icon-chevron-down
        = "#{current_setup.title} Collections"
    .accordion-body.collapse.in{id: dom_id(current_setup, "collection_collapse")}
      .accordion-inner
        = render 'collection_item', collections: current_setup.collections, search_params: @search_params

  - current_setup.descendants.each do |setup|
    - next if setup.collections.empty?
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{ data: { toggle: "collapse", parent: "#collection_accordion"}, href: "##{dom_id(setup, "collection_collapse")}" }
          %i.icon-chevron-down
          = "#{setup.title} Collections"
      .accordion-body.collapse{id: dom_id(setup, "collection_collapse")}
        .accordion-inner
          = render 'collection_item', collections: setup.collections, search_params: @search_params
