= "Primary Agency: "
-if item.source_agency
  = "#{item.source_agency.name} (#{item.source_agency.acronym})"
-else
  ="No primary agency defined"
%br/
= "Funding Agency: "
-if item.funding_agency
  = "#{item.funding_agency.name} (#{item.source_agency.acronym}); "
-else
  ="No funding agency defined; "
= "Other Agency(s): "
-if item.agencies
  = item.agencies.collect{|agency| "#{agency.name} (#{agency.acronym})"}.join(', ')
-else
  ="No other agencies defined"
