- sort_select = [["Sort: Title", "title", {'data-direction' => 'ascending'}],
  ["Sort: Relevance", "relevance", {'data-direction' => 'ascending'}],
  ["Sort: Agency", "agency", {'data-direction' => 'ascending'}],
  ["Sort: Last Updated", "updated_at", {'data-direction' => 'descending'}]]
- direction_select = [["Ascending", "ascending"], ["Descending", "descending"]]
- limit_select = [["Limit: 30", 30], ["Limit:100", 100], ["Limit: 500", 500], ["Limit: 1000", 1000], ["Limit: 2000", 2000], ["Limit: 5000", 5000]]

#search_buttons
  .row-fluid
    .span6
      = select_tag 'search[field]', options_for_select(sort_select, @search_params[:field]), class: "btn span12", id: 'sort', style: "margin-bottom: 0px;"
    .span6
      - disable_select = @search_params[:field] == "relevance" ? true : false
      = select_tag 'search[direction]', options_for_select(direction_select, @search_params[:direction]), { disabled: disable_select, class: "btn span12", id: 'sort_dir', style: "margin-bottom: 0px;" }
  .row-fluid{style: "margin-top: 5px;"}
    .span6
      = select_tag :limit, options_for_select(limit_select, @limit), class: "btn span12", style: "margin-bottom: 0px;"
    .span6
      = link_to '/search', class: 'btn btn-block' do
        Reset
  .row-fluid{style: "margin-top: 5px;"}
    .span6
      .btn-group.btn-block
        = link_to '#', class: "btn", data: { toggle: "dropdown" }, style: 'width: 90px' do
          = "Export as..."
        = link_to '#', class: "btn dropdown-toggle", data: { toggle: "dropdown" } do
          %i.caret
          
        %ul.dropdown-menu
          %li 
            = link_to '#', data: { behavior: 'export', format: 'csv' } do
              CSV
          %li 
            = link_to '#', data: { behavior: 'export', format: 'html' } do
              HTML
          %li 
            = link_to '#', data: { behavior: 'export', format: 'pdf' } do
              PDF
    .span6
      %button.btn.btn-primary.btn-block{ type: 'submit'}
        Search
:javascript
  $("select#sort").on('change', function(e) {
    if($(this).val() == "relevance") {
      $("select#sort_dir").prop("disabled", true)
    } else {
      $("select#sort_dir").prop("disabled", false)
    }
    var dir = $("select#sort option:selected").data('direction');
    $("select#sort_dir").val(dir);
  })
