= form_for asset, url: (asset.new_record? ? sds_admin_assets_path : sds_admin_asset_path(asset)), html: { class: 'form-horizontal' } do |f|
  %fieldset
    %h2 Secure Data Settings
    = render 'admin/assets/sds_fields', f: f, asset: asset
    
  .form-actions
    .pull-right
      = link_to 'Cancel', sds_admin_assets_path, class: 'btn'
      = f.submit 'Submit', class: 'btn btn-primary'
      
%h2 Contact info for download requests      
= render 'sds_admin/contact_infos/contact_info_list', contact_infos: asset.contact_infos.order('created_at DESC')