.content
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %td{colspan: 6, style: "padding: 0;"}
          = form_tag manager_full_contact_path, method: 'GET', class: 'navbar-form form-search' do
            .span2
              .control-group
                %label.control-label Start
                .controls
                  = text_field_tag "start_date", @start_date.strftime('%F'), placeholder: 'YYYY-MM-DD', data: {behavior: 'datepicker', date_format: 'yyyy-mm-dd'}, class: "span2"
            .span2
              .control-group
                %label.control-label End
                .controls
                  = text_field_tag "end_date", @end_date.strftime('%F'), placeholder: 'YYYY-MM-DD', data: { behavior: 'datepicker', date_format: 'yyyy-mm-dd'}, class: "span2"
            .span5
              .control-group
                %label.control-label Agency
                .controls{ style: "margin-top: 5px;" }
                  = collection_select_for_agencies("agency", params["agency"], false, "span5")
              :javascript
                $('#agency').select2({allowClear: true, width: 'copy'});
            .span2{ style: "padding-top: 15px; padding-left: 30px;" }
              .control-group
                .btn-group.pull-right{ style: "margin-top: 8px;" }
                  = submit_tag 'Search', class: 'btn btn-primary'
                  = submit_tag 'CSV', class: 'btn btn-primary', data: { format: 'csv' }
      %tr
        %td{colspan: 6, style: "padding: 0; text-align: center;"}
          .navbar.navbar-static-top
            .navbar-inner
              .btn-group
                = link_to_first_page @contact_infos, params: { start_date: @start_date, end_date: @end_date }, class: 'btn' do
                  %i.icon-double-angle-left
                = link_to_prev_page @contact_infos, params: { start_date: @start_date, end_date: @end_date }, class: 'btn' do
                  %i.icon-angle-left
                %button.btn
                  %span= display_result_info(@contact_infos, @page, @limit, @total)
                = link_to_next_page @contact_infos, params: { start_date: @start_date, end_date: @end_date }, class: 'btn' do
                  %i.icon-angle-right
                = link_to_last_page @contact_infos, params: { start_date: @start_date, end_date: @end_date }, class: 'btn' do
                  %i.icon-double-angle-right
      %tr
        %th.span2 Date
        %th Name
        %th Email
        %th Usage Description
        %th Portal
        %th Data Record
    %tbody
      - @contact_infos.each do |item|
        %tr
          %td= item.created_at.strftime("%F %T %z")
          %td= item.name
          %td= item.email
          %td= item.usage_description
          %td= item.setup.try(:title)
          %td= link_to item.catalog.title, [:manager, item.catalog]

:javascript
  $(document).ready( function(){
    $('[data-behavior~=datepicker]').datepicker().on('changeDate', function(ev){
      $(this).datepicker('hide'); 
    })
  })
