.content
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %td{colspan: 5, style: "padding: 0;"}
          .navbar.navbar-static-top
            .navbar-inner
              .btn-group.pull-right
                = link_to_first_page @contact_infos, params: { start_date: @start_date, end_date: @end_date }, class: 'btn' do
                  %i.icon-double-angle-left
                = link_to_prev_page @contact_infos, params: { start_date: @start_date, end_date: @end_date }, class: 'btn' do
                  %i.icon-angle-left
                %button.btn
                  %span= display_result_info(@contact_infos, @page, @limit, @total)
                = link_to_next_page @contact_infos, params: { start_date: @start_date, end_date: @end_date }, class: 'btn' do
                  %i.icon-angle-right
                = link_to_last_page @contact_infos, params: { start_date: @start_date, end_date: @end_date }, class: 'btn' do
                  %i.icon-double-angle-right

              = form_tag manager_contact_infos_path, method: 'GET', class: 'navbar-form form-search pull-left' do
                .input-prepend
                  %span.add-on Start
                  = text_field_tag "start_date", @start_date, placeholder: 'YYYY-MM-DD', data: {behaviour: 'datepicker', date_format: 'yyyy-mm-dd'}, class: "span2"
                .input-prepend
                  %span.add-on End
                  = text_field_tag "end_date", @end_date, placeholder: 'YYYY-MM-DD', data: { behaviour: 'datepicker', date_format: 'yyyy-mm-dd'}, class: "span2"
                = submit_tag 'Date Search', class: 'btn btn-primary'
      %tr
        %th.span2 Date
        %th Name
        %th Email
        %th Usage Description
        %th Data Record
    %tbody
      - @contact_infos.each do |item|
        %tr
          %td= item.created_at.strftime("%F")
          %td= item.name
          %td= item.email
          %td= item.usage_description
          %td= link_to item.catalog.title, [:manager, item.catalog]

:javascript
  $(document).ready( function(){
    $('[data-behaviour~=datepicker]').datepicker().on('changeDate', function(ev){
      $(this).datepicker('hide'); 
    })
  })
