= simple_form_for [:admin, @entry_type], wrapper: :horizontal_form do |f|
  = f.error_notification
  .row
    = f.input :name
    = f.input :description
    = f.input :color

  .form-action.action-space
    = link_to :back, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel

    .pull-right
      = f.button :submit, @entry_type.new_record? ? "Create Catalog Type" : "Update Catalog Type"
