%tr.fields
  %td
    .fileinput.fileinput-new{data:{provides:'fileinput'}}
      - if f.object.new_record?
        %span.btn.btn-default.btn-file
          %span.fileinput-new Select file
          %span.fileinput-exists Change
          = f.file_field_without_bootstrap :file, hide_label: true
        %span.fileinput-filename
        %a.close.fileinput-exists{href:'#',style:{float:'none'},data:{dismiss:'fileinput'}} &times;
      - else
        = "#{f.object.file.name} (#{number_to_human_size f.object.file.size})"
  %td
    = f.text_field :description, hide_label: true, layout: :inline, style: "width: 360px;"
  %td
    = f.select :interaction, Attachment::INTERACTIONS, hide_label: true, layout: :inline
  %td
    = f.link_to_remove('<i class="fa fa-trash"></i>'.html_safe, layout: :inline, class: 'btn btn-danger')
