%tr.fields
  %td.text-center
    = f.check_box :primary, layout: :inline, label: raw(' ') 
  %td
    = f.hidden_field :id
    = f.hidden_field :contact_id, class: 'contact_id'
    %p.form-control-static.contact_name= f.object.contact.try(:name)
  %td.text-center
    = f.link_to_remove('<i class="fa fa-times"></i>'.html_safe, class: 'btn btn-danger')