%tr.fields
  %td
    = f.hidden_field :id
    = f.hidden_field :agency_id, class: 'agency_id'
    %p.form-control-static.agency_name= f.object.agency.try(:name)
  %td
    = f.check_box :primary, layout: :inline
  %td
    = f.check_box :funding, layout: :inline
  %td.text-right
    = f.link_to_remove('<i class="fa fa-times"></i>'.html_safe, class: 'btn btn-danger')
