%ul.nav.nav-tabs
  - sections = %w{ general contacts agencies tags attachments links sds }
  - sections.each do |section|
    %li{class: (section == sections.first ? 'active' : '')}
      = link_to section.humanize, "##{section}", data: { toggle: 'tab' }

= bootstrap_nested_form_for [:manager, @entry], layout: :horizontal, html: { class: "form", id: 'entry_form', data: { behavior: 'confirm-unsaved-changes' } } do |f|

  .tab-content{ style: 'margin-top: 5px;' }
    #general.tab-pane.active
      = render "general_fields", f: f

    #contacts.tab-pane
      .row
        .col-sm-10
          = text_field_tag :contact_search, '', data: { name: 'contacts', target: '#add-selected-contact', behavior: 'typeahead', query: search_manager_contacts_path + '?query=%QUERY'.html_safe }, placeholder: 'Search for contact to add', class: 'form-control pull-left'
        .col-sm-2
          = f.link_to_add :entry_contacts, :data => { :target => "#contact_fields" }, class: "btn btn-info btn-block disabled", id: 'add-selected-contact' do
            Add selected
            %i.fa.fa-arrow-right
      %table.table.table-striped
        %thead
          %tr
            %th.col-sm-6 Contact
            %th Primary
            %th.actions.text-right Actions
        %tbody#contact_fields.form-inline
          = f.fields_for :entry_contacts, wrapper: false

    #agencies.tab-pane
      .row
        .col-sm-10
          = text_field_tag :agency_search, '', data: { name: 'agencies', target: '#add-selected-agency', behavior: 'typeahead', query: search_manager_agencies_path + '?query=%QUERY'.html_safe }, placeholder: 'Search for agency to add', class: 'form-control pull-left'
        .col-sm-2
          = f.link_to_add :entry_agencies, :data => { :target => "#agency_fields" }, class: "btn btn-info btn-block disabled", id: 'add-selected-agency' do
            Add selected
            %i.fa.fa-arrow-right
      %table.table.table-striped
        %thead
          %tr
            %th.col-sm-6 Agency
            %th Primary
            %th Funding
            %th.actions Actions
        %tbody#agency_fields.form-inline
          = f.fields_for :entry_agencies, wrapper: false

    #tags.tab-pane
      = render "tag_fields", f: f

    #attachments.tab-pane
      .row
        .col-sm-10
          %h4 Attachments
        .col-sm-2
          = f.link_to_add :attachments, :data => { :target => "#attachment_fields" }, class: "btn btn-info btn-block" do
            %i.fa.fa-plus
            Attach new file
      %table.table.table-striped
        %thead
          %tr
            %th.col-sm-5 File
            %th.col-sm-4 Description
            %th.col-sm-2 Category
            %th.actions.col-sm-1 Actions
        %tbody#attachment_fields
          = f.fields_for :attachments, wrapper: false

    #links.tab-pane
      .row
        .col-sm-10
          %h4 Links
        .col-sm-2
          = f.link_to_add :links, :data => { :target => "#link_fields" }, class: "btn btn-success btn-block" do
            %i.fa.fa-plus
            Attach new link
      %table.table.table-striped
        %thead
          %tr
            %th.col-sm-2 Category
            %th.col-sm-4 Display Text
            %th.col-sm-4 URL
            %th.col-sm-1 Valid
            %th.actions.col-sm-1 Actions
        %tbody#link_fields
          = f.fields_for :links, wrapper: false

    #sds.tab-pane
      = render "sds_fields", f: f

  .form-action
    = link_to :back, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel

    .pull-right
      = f.primary @entry.new_record? ? "Create Record" : "Update Record"
