.map-top
.row
  .col-sm-4
    .panel.panel-default
      .panel-heading
        %h1.panel-title
          %i.fa.fa-cubes
          Catalog Records
      .panel-body
        = link_to new_manager_entry_path, class: 'btn btn-success btn-block' do
          New Catalog Record
    = render 'search/form'
  .col-sm-8.search-results
    %h1{ style: 'margin-top: 0px;' }
      #{pluralize @entries.total_count, 'result'} found
      - if @entries.total_count > 1
        %small.pull-right= page_entries_info @entries
    .entry-results.clear-fix
      - @entries.each do |entry|
        .entry{ id: dom_id(entry) }
          = render 'search/entry', entry: entry
          .pull-left
            = render 'search/organization_logos', entry: entry
          = render 'actions', entry: entry
          .entry-type{ style: "background: #{entry.entry_type.color}"}
            = entry.entry_type
    = render 'search/pagination', entries: @entries
