= nested_form_for [:manager, @agency] do |f|
  - unless @agency.errors.full_messages.empty?
    .alert.alert-error
      %h4 Errors prevents this record from being saved
      %ul
        - @agency.errors.full_messages.each do |err|
          %li= err
          
  .row-fluid
    .field.span8
      = f.label :acronym
      = f.text_field :acronym, class: "span3"

      = f.label :name
      = f.text_field :name, class: "span8"
    .field.span4
      = f.label :logo
      .controls
        .fileupload{ class: (f.object.new_record? ? 'fileupload-new' : 'fileupload-exists'), data: { provides: 'fileupload' } }
          .fileupload-preview.thumbnail.fileupload-exists{style:'width: 200px; min-height: 50px;'}
            = image_tag @agency.logo.png.thumb('200x200').url if @agency.logo
          %div
            %span.btn.btn-file
              %span.fileupload-new Select image
              %span.fileupload-exists Change
              = f.file_field :logo

  .row-fluid
    = f.label :description
    = f.text_field :description, class: "span12"

    = f.label :category
    = f.select :category, Agency::CATEGORIES, {}, { class: 'span4' }

    /     = f.label :active
    / .row-fluid
    /   .span11.offset1
    /     %label.checkbox
    /       = f.check_box :active
    /       Yes
    #aliases 
      .pull-right
        = f.link_to_add :aliases, :data => { :target => "#aliases" }, class: "btn btn-success" do
          %i.icon-plus.icon-white
          Add an alias
      %h3 Aliases
      = f.fields_for :aliases
   
  .row-fluid
    .span12
      .form-actions
        = f.submit class: 'btn btn-primary pull-right'
%h5 Associated Catalog Records
%table.table.table-bordered.table-striped.table-condensed
  - @agency.catalogs.each do |item|
    %tr
      %td.span3
        =link_to item.title, manager_catalog_path(item)
      %td
        = item.description
