= form_for [:manager, @agency] do |f|
  - unless @agency.errors.full_messages.empty?
    .alert.alert-error
      %h4 Errors prevents this record from being saved
      %ul
        - @agency.errors.full_messages.each do |err|
          %li= err
  .row-fluid
    .field.span12
      = f.label :acronym
      = f.text_field :acronym, class: "span3"

      = f.label :name
      = f.text_field :name, class: "span8"

      = f.label :description
      = f.text_field :description, class: "span12"

      = f.label :category
      = f.select :category, Agency::CATEGORIES, {}, { class: 'span4' }

      = f.label :active
  .row-fluid
    .span11.offset1
      %label.checkbox
        = f.check_box :active
        Yes
   
  .row-fluid
    .span12
      .form-actions
        = f.submit class: 'btn btn-primary pull-right'
