= paginate @agencies
%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %td{colspan:3, style: 'padding:0;'}
        .navbar.navbar-static-top
          .navbar-inner
            = form_tag manager_agencies_path, method: 'GET', class: 'navbar-form form-search pull-right' do        
              .input-append
                = text_field_tag 'search[q]', @search[:q], class: 'search-query span4', placeholder: "Search"
                = submit_tag 'Search', class: 'btn btn-primary'
            .brand Agencies
            .btn-group
              = link_to new_manager_agency_path, class: 'btn btn-success' do
                %i.icon-plus.icon-white
                New Agency
    %tr
      %th Name
      %th Category
      %th Actions
  %tbody
    - @agencies.each do |item|
      %tr
        %td= item.name
        %td= item.category
        %td
          = link_to "Edit", edit_manager_agency_path(item.id), class: 'btn btn-primary'
          -# = link_to "Delete", manager_agency_path(item.id), method: :delete, confirm: "Are you sure?", class: 'btn btn-danger'
= paginate @agencies
