.tab-pane{id:name.parameterize + "_tab_pane", class:(name == page.sections.first ? 'active' : '')}
  - if name == 'images'
    = render 'images', page: page
  - else
    / ACE Editor
    %div.ace{ data: { editor: 'ace' } }
      .navbar.navbar-static-top
        .navbar-inner
          = render '/shared/ace/base_toolbar', page: page, section: name
          = render 'delete_tab', page: page, section: name
      = text_area_tag "page_content[content][#{name}]", content