= form_for [:manager, page], remote: true, html: { id: 'page_content_form' } do |f|
  - if page.errors.any?
    #error_explanation.alert.alert-error
      %h4
        = pluralize(page.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - page.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :lock_version
          
  .control-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'span12'
      
  = link_to 'Advanced Options', '#advanced', data: { toggle: 'collapse' }
  #advanced.collapse
    %fieldset
      .control-group
        = f.label :slug, class: 'control-label'
        .controls
          = f.text_field :slug, value: page.slug_without_path, class: 'span12', readonly: page.system_page?
      :javascript
        $('#page_content_slug').slugify('#page_content_title');

      .row-fluid
        .span12
          .control-group
            = f.label "Redirect to URL", class: 'control-label'
            .controls
              = f.text_field :redirect, class: 'span12'
      .row-fluid
        .span6
          .control-group
            = f.label :parent_id, class: 'control-label'
            .controls
              = f.select :parent_id, nested_set_options(current_setup.pages, page) {|i| "#{'-' * i.level} #{i.title}" }, include_blank: true
          .control-group
            = f.label :page_layout_id, 'Layout', class: 'control-label'
            .controls
              = f.collection_select :page_layout_id, current_setup.layouts.order("name"), :id, :name, {}, { class: 'span12' }
          %label.checkbox
            =f.check_box :main_menu
            Show in Main Menu
          .control-group
            = f.label :menu_icon, 'Menu Icon', class: 'control-label'
            .controls
              = f.select :menu_icon, load_icons, {include_blank: true}, class: 'menu-icons span12'
        .span6
          .control-group
            = f.label :description, class: 'control-label'
            .controls
              = f.text_area :description, class: 'span12', rows: 10

  #page_tabs.tabbable
    %ul.nav.nav-tabs
      - page.sections.each do |section|
        = render 'section_tab', section: section, active_class: (section == page.sections.first ? 'active' : '')
      - unless page.new_record?
        %li#new_page_tab
          =link_to add_manager_page_content_path(page), remote: true do
            %i.icon-plus
      
  #page_content.ace_editors.tab-content
    - page.content.each do |name,content|
      = render 'content_fields', name: name, content: content, page: page
            
  .form-actions.form-inline{style:'margin-top: 0;'}
    = link_to manager_page_contents_path, class: 'btn' do 
      %i.icon-arrow-left
      Back
    .pull-right
      %label.checkbox
        = f.check_box :draft
        .label.label-warning Make Draft
      / = link_to_function 'Preview', 'preview_page()', class: 'btn'
      = f.submit 'Save', class: 'btn btn-primary', data: { 'disable-with' => "Saving..." }
      = f.submit 'Save and Close', class: 'btn btn-primary', data: { 'disable-with' => "Saving..." }

= render 'image_chooser', page: page unless page.new_record?

= render '/shared/ace/image_chooser', page: page
= render '/shared/ace/link_chooser', page: page
= render '/shared/ace/modal_icon_list', page: page
= render '/shared/ace/javascript', page: page

:javascript
  function format_menu_icon_select(item) {
    return "<i class='" + $(item.element).val() + "'></i>&nbsp;" + item.text
  }

  $('select.menu-icons').select2({
    formatResult: format_menu_icon_select,
    formatSelection: format_menu_icon_select,
    escapeMarkup: function(m) { return m; }
  })
  function preview_page() {
    var form = $('#page_content_form'),
        action = form.attr('action'); 
    form.attr('action', action + '/preview'); 
    form.attr('target', '_blank');
    form.data('remote', false);
    form.submit();
    //Reset form back to normal so later saves work correctly
    form.attr('action', action);
    form.attr('target', '');
    form.data('remote', true);
  }

  $(document).on('click', 'button[data-action="remove-tab"]', function() {
    var id = $('.tab-pane.active').attr('id').replace('_tab_pane', '');
    //console.log(id);
    //$('#page_tabs li.active').remove(); 
  })  
/ = render 'manager/page_layouts/new_page', page: page