#image_chooser_modal.modal.hide.fade{tabindex:"-1", role:"dialog",style:"width:960px; margin-left:-480px;"}
  .modal-header
    %button.close{type:'button', data: { dismiss: 'modal' }} &times;
    %h3 Choose an Image
  .modal-body
    .tabbable.tabs-left
      %ul.nav.nav-tabs
        %li.active= link_to 'Choose Image', '#thumbnail-list', data: { toggle: 'tab' }
        %li= link_to 'Upload Image', '#upload-image', data: { toggle: 'tab' }
      .tab-content
        #thumbnail-list.tab-pane.active.image-list
          - images = @setup.images.order('created_at DESC') - @page.images
          - if images.count == 0
            %p.lead{style:"padding: 15px;"} No images available
          - else
            %ul
              - images.each do |image|
                %li.thumbnail
                  .image
                    - if image.file.nil?
                      %p.lead Broken image
                    - else
                      = image_tag image.file.thumb('300x300#').url, alt: image.title
                    .caption 
                      %strong= link_to_unless image.link_to_url.empty?, image.title, image.link_to_url
                      %p= image.description
                  .btn-group{style:"text-align:center;"}
                    = link_to 'Add', add_manager_page_content_image_path(page, image), method: 'POST', class: 'btn', remote: true
                    = link_to 'Edit', '#', class: 'btn'
        #upload-image.tab-pane
          = render 'manager/images/form', image: page.images.build, page: page
  .modal-footer
    %button.btn{data: { dismiss: 'modal' }} Close