%li{id: dom_id(page, :list)}
  .row-fluid.group
    .span8.title
      - if page.children.empty?
        %i{class: (page.slug == 'home' ? 'icon-home' : (page.leaf? ? 'icon-file' : 'icon-folder-close') )}
        = page.title
      - else
        = link_to "#", data: { toggle: "collapse", target: "##{dom_id(page)}", behavior: 'toggle-icon' } do
          %i{class: 'icon-folder-close folder-icon' }
          = page.title
      - unless page.main_menu
        .label.label-info Hidden
      - if page.draft
        .label.label-warning Draft
      - if page.system_page?
        .label.label-important System
    .span4.actions
      .btn-group
        = link_to edit_manager_page_content_path(page), class: 'btn', title: "Edit" do
          %i.icon-edit    
        = link_to new_manager_page_content_path(parent: page.id), class: 'btn', title: "New Sub-Page" do
          %i.icon-plus-sign
        = link_to page_path(page.slug), class: 'btn', title: "View Page" do
          %i.icon-share
        = link_to manager_page_content_path(page), method: 'DELETE', class: 'btn btn-danger', data: { confirm: 'Are you sure? All child pages will also be deleted' }, title: "Delete Page" do
          %i.icon-trash.icon-white
          
  - unless page.children.empty?
    %ol.page-list-child.collapse{style:'padding-left:20px;', id: dom_id(page)}
      = render partial: '/manager/page_contents/page', collection: page.children
      
:javascript

