.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      %li
        = link_to manager_people_path do
          %i.icon-arrow-left
          Back
%h3= "Edit Contact For #{@person.first_name} #{@person.last_name}"
.row-fluid
  .span12.content
    = render 'form', person: @person