.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      %li
        = link_to manager_people_path do
          %i.icon-arrow-left
          Back
%h2= "Edit Contact For #{@person.first_name} #{@person.last_name}"
= render 'form', person: @person