.navbar.navbar-static-top
  .navbar-inner
    .brand Contacts
    = link_to new_manager_person_path, class: 'btn btn-success pull-right' do
      %i.icon-plus.icon-white
      New Contact

%br/
%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Work Phone
      %th Actions
  %tbody
    - @people.each do |item|
      %tr
        %td= item.first_name
        %td= item.last_name
        - if item.work_phone.nil?
          %td
        - else
          %td= item.work_phone
        %td
          = link_to "Edit", edit_manager_person_path(item.id), class: 'btn btn-primary'
          = link_to "Delete", manager_person_path(item.id), method: :delete, confirm: "Are you sure?", class: 'btn btn-danger'
