.row-fluid
  .span12
    - if @map_layer.errors.count > 0
      .alert.alert-error{ style: 'margin: 5px;' }
        %h4 Error while saving map layer
        %ul
          - @map_layer.errors.full_messages.each do |msg|
            %li= msg
    = form_for [:manager, @catalog, @map_layer], as: :map_layer, remote: true, html: { style: 'margin: 0;', id: 'map_layer_form' } do |f|
      = f.hidden_field :type
      %div{ style: 'padding: 5px 10px;' }
        .row-fluid
          .span12
            .control-group
              = f.label :name, 'Name: ', class: 'control-label'
              .controls
                = f.text_field :name, class: 'span12'
        .control-group
          = f.label :url, 'URL:', class: 'control-label'
          .controls
            = f.text_field :url, class: 'span12'
            %span.help-block.muted
              = @map_layer.url_help
        - if @map_layer.supports_layers?
          .control-group
            = f.label :layers, 'Layer Names:', class: 'control-label'
            .controls
              = f.text_field :layers, class: 'span12', placeholder: @map_layer.layers_placeholder
              %span.help-block.muted
                = @map_layer.layers_help
        .control-group
          = f.label :projections, 'Supported Projections: ', class: 'control-label'
          .controls
            = f.text_field :projections, class: 'span12', placeholder: @map_layer.projection_placeholder 
            %span.help-block.muted
              gLynx only supports these projections, EPSG:3857, EPSG:3338, EPSG:3572
  
      .form-actions{ style: 'margin:0;' }
        = f.submit class: 'btn btn-primary pull-right'

