= simple_form_for [:admin, @user], wrapper: :horizontal_form do |f|
  = f.error_notification
  .row
    .form-inputs
      = f.input :name
      = f.input :email
      = f.label 'Global Admin', class: 'col-sm-3'
      .col-sm-9
        = f.check_box :global_admin

  .form-action.action-space
    = link_to :back, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel

    .pull-right
      = f.button :submit 