%ul.quick-search.nav.nav-pills.pull-left
  %li.header Quick Search:
  %li{class: (!params[:q] || current_page?(q: ''))? 'active' : ''}
    = link_to 'All', admin_users_path(q: '')
  %li{class: (current_page?(q: 'admin'))? 'active' : ''}
    = link_to 'Admin', admin_users_path(q: 'admin')
  %li{class: (current_page?(q: 'manager'))? 'active' : ''}
    = link_to 'Manager', admin_users_path(q: 'manager')
  
= form_tag admin_users_path, method: 'GET', class: 'pull-right form-search' do
  = text_field_tag :q, params[:q], class: 'search-query', placeholder: 'Enter user search terms here'
  = submit_tag 'Search', class: 'btn'
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Name
      %th Email
      %th Roles
      %th Actions
  %tbody
    = render @users