.navbar
  .navbar-inner
    .brand Users
    .pull-right
      = form_tag admin_users_path, method: 'GET', class: 'form-search pull-right' do
        = text_field_tag :q, params[:q], class: 'search-query', placeholder: 'Enter user search terms here'
        = submit_tag 'Search', class: 'btn'  
    .btn-group.pull-right
      = link_to 'All', admin_users_path(q: ''), class: 'btn ' + (!params[:q] || current_page?(q: '') ? 'active' : '')
      = link_to 'Admin', admin_users_path(q: 'admin'), class: 'btn ' + (current_page?(q: 'admin') ? 'active' : '')
      = link_to 'Manager', admin_users_path(q: 'manager'), class: 'btn ' + (current_page?(q: 'manager') ? 'active' : '')
.row-fluid
  = render 'users', users: @users
