= form_for setup, url: manager_setup_path, html: { class: 'form-horizontal' } do |f|
  - if setup.errors.any?
    #error_explanation.alert.alert-error
      %h4
        = pluralize(setup.errors.count, "error")
        prohibited this setup from being saved:
      %ul
        - setup.errors.full_messages.each do |msg|
          %li= msg
          
  .control-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'span12'
  
  .control-group
    = f.label :by_line, class: 'control-label'
    .controls
      = f.text_field :by_line, class: 'span12'

  .control-group
    = f.label :contact_email, class: 'control-label'
    .controls
      = f.text_field :contact_email, class: 'span12'

  .control-group
    = f.label "Default Invite Text", class: 'control-label'
    .controls
      = f.text_area :default_invite, rows: 6, cols: 40, class: 'span12'

  .form-actions
  .form-actions
    = link_to manager_page_contents_path(tab: "setups"), class: 'btn' do
      %i.icon-arrow-left
      Back
    = f.submit class: 'btn btn-primary pull-right'