= simple_form_for [:manager, @permission], wrapper: :horizontal_form do |f|
  = f.hidden_field :user_id
  = f.label 'Name' do
    = @permission.user.name
  = f.label 'Email' do
    = @permission.user.email

  = f.label 'Permissions' do
    - Permission::AVAILABLE_ROLES.each do |role, description|
      = f.check_box role, label: "#{role.to_s.humanize} - #{description}"

  .form-actions.action-space
    = link_to :back, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel
    .pull-right
      = f.button :submit
