.row-fluid
  .col-sm-4
    .panel.panel-default
      .panel-heading
        .panel-title Permission menu
      .panel-body
        = text_field_tag :query, '', data: { behavior: 'typeahead', name: 'user', query: '/manager/users/autocomplete.json?query=%QUERY', field: 'id' }, class: 'form-control', placeholder: 'Search for existing users'
        
        %br/
        &nbsp;
        %br/
        
        = link_to new_manager_invitation_path, class: 'btn btn-success btn-block' do
          %i.fa.fa-plus
          Invite new user        

  .col-sm-8
    .panel.panel-default
      .panel-heading
        %ol.breadcrumb
          %li
            %i.fa.fa-lock
            Permissions
      %table.table.table-bordered.table-striped.table-condensed.table-hover
        %thead
          %tr
            %th User
            %th Email
            %th.text-right Actions
        %tbody.rowlink{ data: { link: 'row' } }
          - @permissions.each do |permission|
            %tr
              %td= link_to permission.user, [:edit, :manager, permission]
              %td= permission.user.email
              %td.rowlink-skip.text-right
                = link_to [:manager, permission], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do
                  %i.fa.fa-trash
    = render 'invitation_list', invitations: @invitations
