= bootstrap_form_for [:manager, @invitation], layout: :horizontal do |f|
  = f.alert_message "Please fix the errors below."

  = f.text_field :name, wrapper_class: 'required'
  = f.email_field :email, wrapper_class: 'required'
  = f.text_area :message
  
  = f.fields_for :permission do |pf|
    = pf.hidden_field :id
    = pf.form_group label: { text: 'Permissions' } do
      - Permission::AVAILABLE_ROLES.each do |role, description|
        = pf.check_box role, label: "#{role.to_s.humanize} - #{description}"
  
  = link_to :back, class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Cancel
  .pull-right
    = f.primary
  