= simple_form_for [:manager, @invitation], wrapper: :horizontal_form do |f|
  = f.error_notification
  .row
    = f.input :name
    = f.input :email
    = f.label 'Message', class: 'col-sm-3'
    .col-sm-9
      = f.text_area :message, cols: 40, rows: 10
    
    = f.fields_for :permission do |pf|
      = pf.hidden_field :id
      = pf.label 'Permissions', class: 'col-sm-3'
      .col-sm-9
        - Permission::AVAILABLE_ROLES.each do |role, description|
          = pf.label role, class: 'col-sm-2'
          = pf.check_box role, label: "#{role.to_s.humanize} - #{description}", class: 'col-sm-1'
  
  .form-action.action-space
    = link_to :back, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel
    .pull-right
      = f.button :submit
    