= simple_form_for(@cms_page, input_html: { autocomplete: 'off' }) do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-sm-6
        = f.input :title, input_html: { data: { behavior: 'slugify', target: '#cms_page_slug' } }
      .col-sm-3
        = f.association :cms_layout, collection: @cms_layouts, label: 'Layout', include_blank: false
      .col-sm-3
        = f.label 'Advanced'
        %button.btn.btn-info.btn-block{ type: 'button', data: { toggle: 'collapse', target: '#advanced-options' } } Toggle advanced options
    #advanced-options.collapse
      .row
        .col-sm-6
          = f.input :slug, disabled: f.object.system_page?, hint: f.object.system_page? ? 'Cannot changed the slug of a system page' : ''
        .col-sm-6
          = f.association :parent, collection: page_collection, label: 'Parent page', label_method: :depth_name, include_blank: 'Root page'

      = f.input :redirect_url, placeholder: 'http://example.com', hint: 'Redirect user to this url when this page is viewed'

      = f.input :description
      = f.input :hidden, label: 'Hidden from page list'

    = f.input :content, label: false, input_html: { class: 'hidden' }
    .panel.panel-default{ data: { editor: 'ace', target: '#cms_page_content', mode: 'html_ruby' } }
      %ul.nav
        .btn-toolbar.navbar-btn{ style: 'padding-left: 5px;'}
          = render 'shared/ace/base_toolbar'
          = render 'shared/ace/html_toolbar'
          = render 'shared/ace/helper_toolbar'
          = render 'shared/ace/attachment_toolbar'
      #content-editor.editor
  .form-actions
    .row
      .col-sm-9.text-right
        = f.input :draft
      .col-sm-3
        = f.button :submit, class: 'btn btn-primary btn-block'
