.panel.panel-default
  .panel-heading
    .pull-right
      = link_to '#cms_attachments_modal', class: 'btn btn-default btn-info btn-xs', data: { action: 'show-cms_attachments_modal' }, style: 'color: white; margin-top: -13px;' do
        %i.fa.fa-fw.fa-image
        Attach image
    %h1.panel-title
      Image Attachments
  %table.table.table-striped
    %thead
      %tr
        %th Preview
        %th{ width: 150 } Info
        %th.text-right Actions
    %tbody
      - page.cms_page_attachments.each do |pa|
        %tr
          %td= attachment_image_tag pa.attachment, :file, :limit, 50, 50
          %td
            %p
              %strong Name:
              = pa.attachment.name

              - if pa.attachment.description.present?
                %br/
                %strong Description:
                = pa.attachment.description

              %br/
              %strong Filename:
              = pa.attachment.file_filename
          %td.text-right
            .btn-group.btn-group-xs
              = link_to up_cms_page_attachment_path(page, pa.attachment), method: :patch, class: "btn btn-default btn-xs #{pa.first? ? 'disabled' : ''}" do
                %i.fa.fa-angle-up
              = link_to down_cms_page_attachment_path(page, pa.attachment), method: :patch, class: "btn btn-default btn-xs #{pa.last? ? 'disabled' : ''}" do
                %i.fa.fa-angle-down
              = link_to remove_cms_page_attachment_path(page, pa.attachment), method: :patch, class: 'btn btn-danger btn-xs' do
                %i.fa.fa-times

:javascript
  $(document).on('click', '[data-action="attach-cms-image"]', function(e) {
    var image_id = $(this).data('id')
    var url = "#{cms_page_path(page)}/attachments/" + image_id + "/add"

    $.ajax({
      url: url,
      type: 'PATCH',
      success: function(json) {
        Turbolinks.visit(json.location)
      }
    })
  })

= render 'shared/cms_attachment/chooser', dom_id: 'cms_attachments_modal', action: 'attach-cms-image', data_url: cms_attachments_path(sort: 'name', images: true, format: :json)

-# #image-attachment-modal.modal.fade
-#   .modal-dialog.modal-lg
-#     .modal-content
-#       .modal-header
-#         %button.close{ data: { dismiss: 'modal' } }
-#           %span &times;
-#         %h4 Image attachments
-#       .modal-body
-#         - current_portal.cms_attachments.images.where.not(id: page.attachment_ids).find_each do |i|
-#           = link_to add_cms_page_attachment_path(page, i), method: :patch, class: 'thumbnail', style: 'display: inline-block;' do
-#             = attachment_image_tag(i, :file, :fill, 100, 100, fallback: "default.png")
-#       .modal-footer
-#         %button.btn.btn-primary{ data: { dismiss: 'modal' } } Close
