.panel.panel-default{ style: 'position:relative'}
  .panel-heading
    %h1.panel-title= page.title
  .panel-body
    = render 'labels', cms_page: page
    %p
      %strong URL:
      = link_to page_url(page.ancestry_path), page_url(page.ancestry_path)

    %p
      %strong Layout:
      = page.cms_layout

    - if page.redirect_url?
      %p
        %strong Redirects to:
        = link_to page.redirect_url, page.redirect_url
