= render page
= render 'preview', page: page

- content_for :sidebar do
  = render 'page_list'

  .list-group
    = link_to edit_cms_page_path(page), class: 'list-group-item list-group-item-info' do
      %i.fa.fa-edit.fa-fw
      Edit page
    - if page.system_page?
      = link_to new_cms_page_path, class: 'list-group-item list-group-item-success' do
        %i.fa.fa-plus.fa-fw
        New page
    - else
      = link_to new_cms_page_path(parent: page), class: 'list-group-item list-group-item-success' do
        %i.fa.fa-plus.fa-fw
        New page
      = link_to page, method: :delete, data: { confirm: 'Are you sure? All child pages will also be deleted.  This cannot be undone!' }, class: 'list-group-item list-group-item-danger' do
        %i.fa.fa-trash.fa-fw
        Delete page
    = link_to '#image-attachment-modal', class: 'list-group-item', data: { toggle: 'modal' } do
      %i.fa.fa-fw.fa-image
      Attach image
    = link_to reorder_cms_pages_path, class: 'list-group-item' do
      %i.fa.fa-fw.fa-sort
      Reorder pages
    = help_link(['cms', 'pages'], class: 'list-group-item') do
      %i.fa.fa-fw.fa-question-circle
      Help
