= form_for @image, html: { class: 'form-horizontal' } do |f|
  - if @image.errors.any?
    #error_explanation
      %h2
        = pluralize(@image.errors.count, "error")
        prohibited this image from being saved:
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg
  
  .control-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title

  .control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description
    
  .control-group
    = f.label :link_to_url, class: 'control-label'
    .controls
      = f.text_field :link_to_url
    
  .control-group
    = f.label :file, class: 'control-label'
    .controls
      - if @image.file
        = image_tag @image.file.thumb('300x300').url
        %br/
      = f.file_field :file
    
  .buttons
    = f.submit class: 'btn btn-primary'
