.navbar.navbar-static-top{style:"margin-bottom:5px;"}
  .navbar-inner
    .brand Available Images
    = link_to 'Upload image', new_image_path, class: 'btn btn-success pull-right'
      
= flashes

%div{style:"padding: 0 5px 0 5px;"}
  %ul.thumbnails
    - @images.each do |image|
      %li.span3
        .thumbnail
          = image_tag image.file.thumb('300x150#').url, alt: image.title
          %h5= link_to_unless image.link_to_url.empty?, image.title, image.link_to_url
          %p= image.description
          .buttons{style:"text-align:center;"}
            = link_to 'Add', add_carousel_image_settings_path(image_id: image), method: 'POST', class: 'btn'
            = link_to 'Edit', edit_image_path(image), class: 'btn'
            = link_to 'Delete', image, method: "DELETE", data: { confirm: 'Are you sure?' }, class: 'btn'