.navbar.navbar-static-top{style:"margin-bottom:5px;"}
  .navbar-inner
    .brand Available Images
    = link_to 'Upload image', new_manager_image_path, class: 'btn btn-success pull-right'
    .btn-group{style: "margin: 0;"}
      = form_tag manager_images_path, method: 'GET', class: 'navbar-form form-search' do
        .input-prepend.input-append
          = text_field_tag 'search[q]', @search[:q], class: 'span4', placeholder: "Search"
          = submit_tag 'Search', class: 'btn btn-primary'
= flashes

%div{style:"padding: 0 5px 0 5px;"}
  - if @images.count == 0
    %p.lead{style:"padding: 15px;"} No images available
  - else
    %ul.thumbnails
      - @images.each do |image|
        %li.thumbnail{style: "width:46%; height: 100px;"}
          .row-fluid
            .span3
              - if image.file.nil?
                %p.lead Broken image
              - else
                = image_tag image.file.process(:page, 0, :png).thumb('x100').url, alt: image.title
            .span9
              %div{ style: 'height: 68px; overflow: auto;' }
                %strong= link_to_unless image.link_to_url.empty?, image.title, image.link_to_url
                %p= image.description
              .btn-group{style:''}
                = link_to edit_manager_image_path(image), class: 'btn', title: "Edit" do
                  %i.icon-edit
                  Edit
                = link_to manager_image_path(image), method: :delete, class: 'btn btn-danger', 'data-confirm' => 'Are you sure?', title: "Delete Image" do
                  %i.icon-trash.icon-white
                  Delete
                - unless image.file.nil?
                  = link_to "View Original", image.file.url, class: 'btn btn-primary'
