.navbar.navbar-static-top{style:"margin-bottom:5px;"}
  .navbar-inner
    .brand Available Images
    = link_to 'Upload image', new_manager_image_path, class: 'btn btn-success pull-right'
      
= flashes

%div{style:"padding: 0 5px 0 5px;"}
  - if @images.count == 0
    %p.lead{style:"padding: 15px;"} No images available
  - else
    %ul.thumbnails
      - @images.each do |image|
        %li
          .thumbnail
            .image
              - if image.file.nil?
                %p.lead Broken image
              - else
                = image_tag image.file.png.thumb('286x200#').url, alt: image.title
              .caption 
                %strong= link_to_unless image.link_to_url.empty?, image.title, image.link_to_url
                %p= image.description
          = link_to 'Edit', edit_manager_image_path(image), class: 'btn'
          = link_to manager_image_path(image), method: :delete, class: 'btn btn-danger', 'data-confirm' => 'Are you sure?' do
            %i.icon-trash.icon-white
            Delete