<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<p>
  <b>Link to url:</b>
  <%= @image.link_to_url %>
</p>

<p>
  <b>File uid:</b>
  <%= image_tag @image.thumbnail('300x300').try(:url), alt: @image.title %>
</p>


<%= link_to 'Edit', edit_manager_image_path(@image) %> |
<%= link_to 'Back', manager_images_path %>
