%nav.navbar.navbar-default.navbar-gina.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '#header-navbar' }}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to admin_url, class: 'navbar-brand' do
        %span.gina gLynx 
        \:: Manager
    #header-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          = render 'layouts/manager_menu'
          = render 'layouts/admin_menu'
          %li
            = link_to logout_path do
              Logout
        - else
          %li
            = link_to login_path do
              Login
