- if can? :view_manager_menu, current_user
  %li.dropdown
    = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
      Manager
      %span.caret

    %ul.dropdown-menu
      %li
        = link_to manager_path do
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      - if can? :manage, Entry
        %li
          = link_to manager_entries_path do
            %i.fa.fa-cubes.fa-fw
            Catalog Records
      %li
        = link_to manager_agencies_path do
          %i.fa.fa-university.fa-fw
          Agencies
      %li
        = link_to manager_contacts_path do
          %i.fa.fa-phone.fa-fw
          Contacts
      %li
        = link_to manager_collections_path do
          %i.fa.fa-sitemap.fa-fw
          Collections
      %li
        = link_to manager_portal_path do
          %i.fa.fa-cog.fa-fw
          Portal Settings
      %li
        = link_to manager_use_agreements_path do
          %i.fa.fa-pencil.fa-fw
          Use Agreements
      - if can? :manage, current_user.permissions.for(current_portal)
        %li
          = link_to manager_permissions_path do
            %i.fa.fa-lock.fa-fw
            Permissions
