- cache([:theme, :v6, current_setup]) do
  %style
    :sass
      body
        background-color: #{current_setup.theme.page_bg}
    
      .container 
        background-color: #{current_setup.theme.content_bg}

      #header
        background-color: #{current_setup.theme.header_bg}
        color: #{current_setup.theme.header_title_color}
        font-family: 'Quando', serif
    
        small
          color: #{current_setup.theme.header_byline_color}

        ul.nav 
          background-color: #{current_setup.theme.menu_bg}
          margin: 0
          padding: 10px 5px

        ul.nav > li > a
          margin: 0 2px
          color: #{current_setup.theme.menu_link_color}

        ul.nav > li > a:hover 
          background-color: #{current_setup.theme.menu_hover_bg}
          color: #{current_setup.theme.menu_hover_link_color}

        ul.nav > li.active > a 
          background-color: #{current_setup.theme.menu_active_bg}
          color: #{current_setup.theme.menu_active_link_color}

      #footer 
        color: #{current_setup.theme.footer_text_color}
        background-color: #{current_setup.theme.footer_bg}
  
        .partners 
          background-color: #{current_setup.theme.footer_partners_bg}

        .partners img  
          filter: url(/assets/filters.svg#grayscale) /* Firefox 3.5+ */
          filter: gray /* IE6-9 */
          -webkit-filter: grayscale(1) /* Google Chrome & Safari 6+ */
          opacity: 0.5

        .partners img:hover 
          filter: none
          -webkit-filter: grayscale(0)
          opacity: 1
    
      .carousel-caption a 
        color: #ffcc66
    
        &:hover 
          color: #5c85ff
    
      .home-btn 
        background-color: #{current_setup.theme.home_btn_bg}
        color: #{current_setup.theme.home_btn_link_color}
    
        &:hover 
          background-color: #{current_setup.theme.home_btn_hover_bg}
          color: #{current_setup.theme.home_btn_hover_link_color}
          border: 4px solid
          border-color: #{current_setup.theme.home_btn_hover_border}

      .social_icons a 
        color: #{current_setup.theme.social_icons_link_color}
    
        &:hover 
          color: #{current_setup.theme.social_icons_hover_link_color}