- theme = NSCatalog::Application.config.theme
!!! 5
%html
%head
  = render "layouts/#{theme}/head"  
  = javascript_include_tag "application", data: {'turbolinks-track' => ''}
  = stylesheet_link_tag 'application', data: {'turbolinks-track' => ''}
  = csrf_meta_tag
%body
  .container
    #header= render "layouts/#{theme}/header"
    #content
      = show_flash_messages
      = yield
  = render "layouts/#{theme}/analytics" unless Rails.env == 'development'
