!!! 5
%html
%head
  %title North Slope Science Catalog
  %link{ :href => '/images/favicon3.ico', :rel => "SHORTCUT ICON"}
  %meta{ :name => 'description', :content => 'North Slope Science Initiative Catalog' }
  %meta{ :name => 'keywords', :content => 'North Slope Science Initiative Catalog data projects tracking geographic information network alaska' }
  %meta{ :name => 'author', :content => 'GINA' }

  = stylesheet_link_tag 'application', :media => 'screen, projection'
  = stylesheet_link_tag 'print', :media => 'print'
  /[if IE]
    = stylesheet_link_tag 'ie', :media => 'screen, projection'

  = include_css(:extjs, :version => '4.0.6')
  = include_js(:extjs, :version => '4.0.6')
  = include_js(:proj4js)
  = include_js(:openlayers)

  = javascript_include_tag "application"
  -#= include_app_js(:application)
  -#= javascript_include_tag 'application'
  -#= javascript_include_tag('/data.js')

%body
  %form#history-form.x-hide-display
    %input(type="hidden" id="x-history-field")
    %iframe#x-history-frame
      
  -#= raw jsflashes
  #header
    = render 'layouts/header'
  #content.x-hidden
    = yield
  #footer.x-hidden
    = render 'layouts/footer'
  %script
    -#= render 'layouts/regions.js'
  = render 'layouts/analytics'