- theme = NSCatalog::Application.config.theme
!!! 5
%html
  %head
    = render "layouts/#{theme}/head"  
    = javascript_include_tag "http://glink.gina.alaska.edu/cdn/libs/proj4js-1.1.0/lib/proj4js-compressed.js", "http://maps.google.com/maps/api/js?v=3&sensor=false"
    = javascript_include_tag "http://glink.gina.alaska.edu/cdn/libs/OpenLayers-2.13.1/OpenLayers.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag 'application'
    /[if IE 9] 
      = javascript_include_tag "ie"
    /[if IE 7]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    = render "layouts/#{theme}/analytics" unless current_setup.analytics_account.nil? or Rails.env == 'development'
    = csrf_meta_tag
    = render 'layouts/theme'
  %body
    .spinner-container
    #flashes
    #top
    
    = render 'layouts/user_toolbar'
    
    = current_setup.theme.css.html_safe
    .container
      #header= render "layouts/#{theme}/header"
      %div{id: (@page.nil? ? 'content' : "#{@page.slug.parameterize}-page") }
        = show_flash_messages
        = yield
      #footer= render_snippet_content current_setup.snippets.where(slug: 'footer').first, current_setup
    = link_to '#top', class: 'goto-top', data: { action: 'scroll' } do
      %i.icon-arrow-up
      Top
