- theme = NSCatalog::Application.config.theme
!!! 5
%html
%head
  = render "layouts/#{theme}/head"  
  = stylesheet_link_tag 'application', :media => 'all'
  = javascript_include_tag "application"
%body
  #header= render "layouts/#{theme}/header"
  / = render "layouts/#{theme}/splash"
  #content
    = yield
  #footer
    = render "layouts/#{theme}/footer"
		
  / = render "layouts/#{theme}/analytics"
