- theme = NSCatalog::Application.config.theme
!!! 5
%html
  %head
    = render "layouts/#{theme}/head"  
    = javascript_include_tag "http://glink.gina.alaska.edu/cdn/libs/proj4js-1.0/lib/proj4js-compressed.js", "http://glink.gina.alaska.edu/cdn/libs/OpenLayers-2.12/OpenLayers.js"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    = render "layouts/#{theme}/analytics" unless current_setup.analytics_account.nil? or Rails.env == 'development'
    = csrf_meta_tag
    = render 'layouts/theme'
  %body
    .spinner-container
    #top
    - if !current_user.nil? and (current_user.access_cms? or current_user.access_catalog? or current_user.access_site_admin?)
      = link_to 'Manage Site', manager_path, class: 'btn btn-primary', style: 'position: absolute; top: 10px; right: 10px;'
    
    = render_snippet_content current_setup.snippets.where(slug: 'theme').first, current_setup
    .container
      #header= render "layouts/#{theme}/header"
      %div{id: (@page.nil? ? 'content' : "#{@page.slug.parameterize}-page") }
        = show_flash_messages
        = yield
      #footer= render_snippet_content current_setup.snippets.where(slug: 'footer').first, current_setup
    = link_to '#top', class: 'goto-top', data: { action: 'scroll' } do
      %i.icon-arrow-up
      Top
      
    
