- theme = NSCatalog::Application.config.theme
!!! 5
%html
%head
  = render "layouts/#{theme}/head"

  = include_css(:extjs, :version => '4.1.0-rc3')
  = include_js(:extjs, :version => '4.1.0-rc3')
  = include_js(:proj4js)
  = include_js(:openlayers, :version => '2.11')

  = javascript_include_tag "manager"
  
  = stylesheet_link_tag 'manager', :media => 'screen, projection'

%body
  %form#history-form.x-hide-display
    %input#x-history-field(type="hidden")
    %iframe#x-history-frame
      
  #flashes
    :javascript
      Ext.onReady(function() {
        #{jsflashes}
      });
  #header
    = render "layouts/#{theme}/header"
  #content.x-hidden
    = yield
  #footer.x-hidden