!!!
%html
  %head
    %title
      = current_portal.acronym unless current_portal.nil?
      = yield :page_title
    = yield :head
    -# = stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css'
    -# = javascript_include_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/flash_messages'
    .map-container.full-screen
      .map-header
        = render 'layouts/navbar'
        = content_for :mapheader
      .map-body
        = yield
