!!!
%html
  %head
    %title
      = current_portal.title
    = yield :head
    = render 'layouts/favicon'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    /[if lte IE 9]
      = javascript_include_tag "ie", "data-turblinks-track" => true
    = render "layouts/analytics"
  %body
    .floating-flashes
      = render 'layouts/flash_messages'
    .public= render 'layouts/navbar'
    .cms-page-content.page
      = render 'pages/theme', extend_body: true
      = yield
