!!!
%html
  %head
    %title
      gLynx
      = yield :page_title
    = yield :head
    -# = stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css'
    -# = javascript_include_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .floating-flashes
      = render 'layouts/flash_messages'
    .public= render 'layouts/navbar'
    .cms-page-content.page
      = render 'pages/theme', extend_body: true
      = yield
