- theme = NSCatalog::Application.config.theme
!!!5
%html
  %head
    = render "layouts/#{theme}/head"
    = javascript_include_tag 'sds'
    = stylesheet_link_tag 'sds', :media => 'all'
  %body
    #content
      = show_flash_messages
      = yield