- theme = NSCatalog::Application.config.theme
!!!5
%html
  %head
    = render "layouts/#{theme}/head"
    = javascript_include_tag 'sds_admin'
    = stylesheet_link_tag 'sds_admin', :media => 'all'
  %body
    #header
      .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
          .container
            = link_to 'SDS Manager', sds_admin_path, class: 'brand'
            = render 'layouts/admin_menu'
                
    #content.container{style: "margin-top: 45px;"}
      = show_flash_messages
      .row
        .span2
          %ul.nav.nav-list.well
            %li.nav-header Main
            %li
              = link_to sds_admin_path do
                %i.icon-home
                Dashboard
            %li 
              = link_to sds_admin_assets_path do
                %i.icon-barcode
                Data Records
            %li
              = link_to sds_admin_use_agreements_path do
                %i.icon-edit
                Use Agreements
            - if current_user.is_an_sds_admin?
              %li
                = link_to sds_admin_contact_infos_path do
                  %i.icon-user
                  Contact Info
        .span10
          = yield